nav.docs-menu

  h2 Menu

  ul
    li
      a(href='/docs/')
        h3 Início
    li
      h3 CSS
      ul
        li
          a(href='/docs/colors.html') Cores
        li
          a(href='/docs/forms.html') Formulários
        li
          a(href='/docs/icons.html') Ícones
        li
          a(href='/docs/buttons.html') Botões
        li
          a(href='/docs/grid.html') Grid
        li
          a(href='/docs/typography.html') Tipografia
    li
      h3 Componentes
