nav.docs-menu

  h2 Menu

  ul
    li
      a(href='/docs/')
        h3 Início
    li
      h3 CSS
      ul
        li
          a(href='/docs/css/colors.html') Cores
        li
          a(href='/docs/css/forms.html') Formulários
        li
          a(href='/docs/css/icons.html') Ícones
        li
          a(href='/docs/css/buttons.html') Botões
        li
          a(href='/docs/css/grid.html') Grid
        li
          a(href='/docs/css/typography.html') Tipografia
    li
      h3 Componentes
      ul
        li
          a(href='/docs/components/cards.html') Cards
        li
          a(href='/docs/components/price.html') Preços
