include ../_partials/header.jade

body
  section

    include ../_partials/menu.jade

    article.docs-content

      h1.docs-h1 Preços

      p Widgets de preços
      p 
        |Para inserir o widget de preço use o mixin jade
        b widget-price

      pre
        code.language-scss +widget-price(prefix, price, sufix, size)

      table
        thead
          tr
            th Argumento
            th Tipo
            th Descrição
        tbody
          tr
            td prefix
            td String
            td Texto a ser exibido acima do preço, opcional
          tr
            td price
            td String
            td Preço, no formato '99,99', obrigatório
          tr
            td sufix
            td String
            td Texto a ser exibido abaixo dos centavos
          tr
            td size
            td String
            td Indicador se o widget desejado é pequeno, opcional
      
      h3.docs-h3 Exemplos

      .example.typography

        .column
          h3.docs-h3 Regular

          +widget-price('À partir de', '39,90', '/Mês')
          br
          +widget-price('À partir de', '48,00')
          br
          +widget-price(null, '139,90', '/Ano')
        
        .column
          h3.docs-h3 Small

          +widget-price('À partir de', '11,50', '/Mês', 'small')
          br
          +widget-price('À partir de', '67,05', null, 'small')
          br
          +widget-price(null, '2.139,90', '/Ano', 'small')

      pre
        code.language-scss
          | // Regular
          | +widget-price('À partir de', '39,90', '/Mês')
          | +widget-price('À partir de', '48,00')
          | +widget-price(null, '139,90', '/Ano')
          | // Small
          | +widget-price('À partir de', '11,50', '/Mês', 'small')
          | +widget-price('À partir de', '67,05', null, 'small')
          | +widget-price(null, '2.139,90', '/Ano', 'small')
