html
  font-size 16px
  +above('m')
    font-size 92%
  +above('l')
    font-size 100%
  +above('xxl')
    font-size 134%
  +above('xxxl')
    font-size 155%
  +above('4k')
    font-size 1vw

body
  // font-family font-stack( 'Helvetica' )
  font-family $fontTextRegular
  font-size 1rem
  line-height 1.4
  opacity 1
  color $black

  &.scroll-lock
    overflow hidden

  .only-l
    display none
    +above('l')
      display block

   .b-lazy
    transition opacity 144ms linear
    max-width 100%
    opacity 0
    &.b-loaded
      opacity 1


.container
  background-color #fff
  max-width: remify(1170px)

.clearfix
  &:after, &:before
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  &:after
    clear: both;

$visuallyhidden
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  height 1px
  width 1px
  margin -1px
  padding 0
  border 0

