html
  font-size 16px
  +above('xxxl')
    font-size 1vw

body
  font-family font-stack( 'Helvetica' )
  font-size 1rem
  line-height 1.4
  opacity 1
  color $black

  &.scroll-lock
    overflow hidden

  .only-l
    display none
    +above('l')
      display block

   .b-lazy
    transition opacity 500ms ease-in-out
    max-width 100%
    opacity 0
    &.b-loaded
      opacity 1


.container
  background-color #fff

$visuallyhidden
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  height 1px
  width 1px
  margin -1px
  padding 0
  border 0

