html
  font-size 16px
  +above(2000px)
    font-size 1vw

body
  font-family font-stack( 'Helvetica' )
  font-size 1rem
  line-height 1.4
  opacity 1
  color $black

.container
  background-color #fff
  // opacity .5
  // color red !important
  // *
  //   color red !important
  //   *
  //     color red !important

$visuallyhidden
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  height 1px
  width 1px
  margin -1px
  padding 0
  border 0

