$button
  @extend $text-regular
  background transparent
  border remify(1px) solid $grayLight
  border-radius remify(2px)
  color $black
  cursor pointer
  display inline-block
  line-height 2rem
  text-align center
  text-decoration none
  width 100%
  transition all 300ms ease-out
  &:hover
    border-color $purple
    color $purple
  &-small
    @extend $button
    @extend $text-small
    line-height remify(40px)
  &-regular
    @extend $button
    line-height remify(48px)
  &-big
    @extend $button
    @extend $text-big
    line-height remify(56px)
  &.gray
    background $grayLighter
    border-color $gray
    color $black
  &-green
    @extend $button
    background $green
    border-color $green
    color $white
  &.black
    background $black
    border-color $black
    color $white
  &.inactive
    background rgba($black, 0.14)
    border-color rgba($black, 0.14)
    color $white
