$white       = #ffffff
$black       = #222222
$grayDark     = #595959
$gray        = #909090
$grayLight   = #dbdbdb
$grayLighter = #f5f5f5
$green       = #00a596
$greenLight  = #46c364
$purple      = #8c3c8c
$purpleLight = #b9418c
$orange      = #f06923
$orangeLight = #ffa800

// Text colors
$text-white
  color $white
$text-black
  color $black
$text-gray
  color $gray
$text-grayLight
  color $grayLight
$text-grayLighter
  color $grayLighter
$text-green
  color $green
$text-greenLight
  color $greenLight
$text-purple
  color $purple
$text-purpleLight
  color $purpleLight
$text-orange
  color $orange
$text-orangeLight
  color $orangeLight

// Background colors
$bg-black
  background-color $black
$bg-gray
  background-color $gray
$bg-grayLight
  background-color $grayLight
$bg-grayLighter
  background-color $grayLighter
$bg-green
  background-color $green
$bg-greenLight
  background-color $greenLight
$bg-purple
  background-color $purple
$bg-purpleLight
  background-color $purpleLight
$bg-orange
  background-color $orange
$bg-orangeLight
  background-color $orangeLight

// Gradients
.gradient-green
  background-image linear-gradient(0deg, $greenLight 34%, $green 100%)

.gradient-purple
  background-image linear-gradient(0deg, $purpleLight 34%, $purple 100%)

.gradient-orange
  background-image linear-gradient(0deg, $orangeLight 34%, $orange 100%)




// Anmated Gradients
@keyframes kf-background {
  0% { background-size: 100% 100%; }
  66% { background-size: 100% 155%; }
  100% { background-size: 100% 100%; }
}

.gradient-animate-green
  background-color $green
  animation kf-background 6.1s infinite
  background-image linear-gradient(0deg, $greenLight 34%, $green 100%)

.gradient-animate-purple
  background-color $purple
  animation kf-background 6.1s infinite
  background-image linear-gradient(0deg, $purpleLight 34%, $purple 100%)

.gradient-animate-orange
  background-color $orange
  animation kf-background 6.1s infinite
  background-image linear-gradient(0deg, $orangeLight 34%, $orange 100%)



