// forms
formPaddingVertical = 1.125rem;
formPaddingHorizontal = 2.25rem;

input[type="checkbox"]
  position: relative
  top: 0
  left: 0
  border: none
  width: 100%
  height: formPaddingVertical*1.34
  &:hover
    &:before
      border-color: $purple
  &:before
    content: " "
    position: absolute
    top: 0
    left: 0
    display: block
    width: formPaddingVertical*1.34
    height: formPaddingVertical*1.34
    border: 0.08rem solid $grayLight
    background-color: $white
    border-radius 0.125rem

  &:after
    content: " "
    position: absolute
    top: 0.08rem
    left: 0.08rem
    display: block
    width: formPaddingVertical*1.34
    height: formPaddingVertical*1.34
    transform: scale(0.66)
    background-color: $purple
    transform-origin: 50% 50%
    border-radius 0.125rem

  &:checked::after
    animation: kf-checkbox-on 0.21s ease
    animation-fill-mode: forwards

  &:not(:checked)
    &:after
      animation: kf-checkbox-off 0.21s ease
      animation-fill-mode: forwards

input[type="radio"]
  position: relative
  top: 0
  left: 0
  border: none
  width: 100%
  height: formPaddingVertical*1.34
  &:hover
    &:before
      border-color: $green
  &:before
    content: " "
    position: absolute
    top: 0
    left: 0
    display: block
    width: 1.5625rem // 25px
    height: 1.5625rem // 25px
    border: 0.08rem solid $grayLight
    background-color: $white
    border-radius 50%

  &:after
    content: " "
    position: absolute
    top: 0.3125rem // 5px
    left: 0.3125rem // 5px
    display: block
    width: 0.9375rem // 15px
    height: 0.9375rem // 15px
    background-color: $green
    border-radius 50%

  &:checked::after
    animation: kf-radio-on 0.21s ease
    animation-fill-mode: forwards

  &:not(:checked)
    &:after
      animation: kf-radio-off 0.21s ease
      animation-fill-mode: forwards

