// sizes
sizeBig = 7rem
sizeLarge = 5.3125rem
sizeMedium = 3.5625rem
sizeSmall = 2.625rem
sizeTiny = 1.75rem
sizeEyebrow = 0.875rem
sizeMini = 0.8125rem

// forms
$formPaddingVertical = 1.125rem;
$formPaddingHorizontal = 2.25rem;

// borders
borderWidth = 1.2px;
borderRoundSize = 0.21rem;

// colors
colorGray = $gray;
colorLightGray = $grayLight;
colorBrightGray = $grayLighter;

colorBlack = colorLinkBlack = $black;
colorWhite = colorLinkWhite = $white;

colorAqua = $green;
colorAquaDark = #47b969;

colorMagenta = $purple;
colorMagentaDark = #b9418c;

colorYellow = $orange;
colorYellowDark = #ffa800;
colorYellowDeepDark = #e98300;

colorAlertRed = #ff0000;
colorAlertGreen = #47b969;

form
  button.basic
    height: 4.375rem // 70px
    line-heigt: 4.375rem // 70px

fieldset
  position: relative
  display: block
  width: 100%
  height: auto
  border: 0
  margin: 0
  padding: 0

@require "form/_field-box.styl"



