$icons-svg
  background-repeat no-repeat
  width: 2rem
  display: inline-block
  height: 2rem
  &.app-s
    background-image url(../images/icons/app-s.svg)
  &.arrow
    background-image url(../images/icons/arrow.svg)
  &.banda-s
    background-image url(../images/icons/banda-s.svg)
  &.banda
    background-image url(../images/icons/banda.svg)
  &.celular-s
    background-image url(../images/icons/celular-s.svg)
  &.celular
    background-image url(../images/icons/celular.svg)
  &.email-s
    background-image url(../images/icons/email-s.svg)
  &.error
    background-image url(../images/icons/error.svg)
  &.fixo-s
    background-image url(../images/icons/fixo-s.svg)
  &.fixo
    background-image url(../images/icons/fixo.svg)
  &.internet-s
    background-image url(../images/icons/internet-s.svg)
  &.internet
    background-image url(../images/icons/internet.svg)
  &.ligacao-s
    background-image url(../images/icons/ligacao-s.svg)
  &.pin-s
    background-image url(../images/icons/pin-s.svg)
  &.success
    background-image url(../images/icons/success.svg)
  &.tv-s
    background-image url(../images/icons/tv-s.svg)
  &.tv
    background-image url(../images/icons/tv.svg)
  &.user-s
    background-image url(../images/icons/user-s.svg)
  &.via-s
    background-image url(../images/icons/via-s.svg)


/**
 *
 * Graphic Icons
 *
 * Graphic Icons with svg content
 *
 * **/
i.icon_check
  svg path
    fill $green
