ul {
  >li {
    padding-left: 2rem;
  }

  &.icons {
    >li {
      padding-left: 2rem;
      background-repeat: no-repeat;
      background-position: 0.55em 0;
    }
  }
}

table.modal-table
  ul {
    >li {
      padding-left: 2rem;
      list-style: decimal;
    }

    &.icons {
      >li {
        padding-left: 2rem;
        background-repeat: no-repeat;
        background-position: 0.55em 0;
      }
    }
  }

// dl {
//   >dt {
//     border-top: 0.25em solid transparent;
//     font-weight: bold;
//     padding-top: 1rem;
//     * { font-weight: bold; }
//   }
//   &.clean {
//     >dt {
//       font-weight: normal;
//       * { font-weight: normal; }
//     }
//   }
//   &.thick {
//     >dt { border-top: 0.21em solid colorBlack; }
//   }
//   &.thin {
//     >dt {
//       border-top: 0.08em solid colorLightGray;
//     }
//     >dd {
//       >dl {
//         padding: 1.5rem 0 0;
//         >dt, >dd {
//           padding: 0 0 0.13rem;
//         }
//       }
//     }
//   }
// }
