$tablePaddingVertical = 2.5rem;
$tablePaddingHorizontal = 1.5625rem;

table
	width: 100%
	border-top: 0.08rem solid $black
	border-bottom: 0.08rem solid $black

	tr
		&.hardline
			td, th
				border-top: 0.08rem solid $black

		td, th
			font-weight: normal
			display: table-cell !important
			float: none !important
			&.left
				text-align: left
			&.right
				text-align: right
			&.hardline
				border-top: 0.08rem solid $black

	thead
		width: 100%
		border-bottom: 0.08rem solid $grayLight
		th
			position: relative
			padding: $tablePaddingVertical $tablePaddingVertical
			text-align: center
			.hashtag
				position: absolute
				bottom: 0
				margin-bottom: -(1.3125rem/2)
				left: 50%
				margin-left: -(3.9375rem/2)
				outline: 0.55rem solid $white
			.icon
				display: inline-block
				width: 2rem
				height: 2rem

	tbody
		width: 100%
		tr
			&:first-child
				td
					border-top: none
			td
				position: relative
				min-width: 2rem
				height: auto
				padding: $tablePaddingVertical $tablePaddingVertical
				border-top: 0.08rem dashed $grayLight
				text-align: center
				vertical-align: middle

				.left-bracer
					position: absolute
					top: 0;
					right: 1rem
					width: 1.6875rem
					height: 100%
					padding: 3rem 1.5625rem
					.inner
						position: relative
						top: 0
						left: 0
						width: 1.6875rem
						height: 100%
						border-top: 0.08rem solid $grayLight
						border-left: 0.08rem solid $grayLight
						border-bottom: 0.08rem solid $grayLight

	&.checkout
		thead
			tr
				th
					padding: $tablePaddingVertical 0

		tbody
			tr
				td
					font-size: 0.8125rem
					padding: $tablePaddingVertical*0.34 0

