font-face( "oiTextRegular", "../fonts/simplon/SimplonBP-Regular-webfont", normal )
font-face( "oiTextBold", "../fonts/simplon/SimplonBP-Bold-webfont", normal )
font-face( "oiTextLight", "../fonts/simplon/SimplonBP-Light-webfont", normal )
font-face( "oiTitle", "../fonts/simplon/SimplonOi-headline-webfont", normal )

$fontTitle = oiTitle, sans-serif
$fontTextRegular = oiTextRegular, sans-serif
$fontTextBold = oiTextBold, sans-serif
$fontTextLight = oiTextLight, sans-serif

$baseline  = .625rem // 10px

.container
  font-family oiText, sans-serif

$line-height
  &-small
    line-height remify(16px)
  &-regular
    line-height remify(20px)
  &-big
    line-height remify(30px)

$title
  font-family $fontTitle
  color green
  text-transform uppercase
  display block
$title-huge
  @extend $title
  font-size remify(112px)
$title-big
  @extend $title
  font-size remify(85px)
$title-medium
  @extend $title
  font-size remify(57px)
$title-small
  @extend $title
  font-size remify(42px)
$title-tiny
  @extend $title
  font-size remify(28px)
$title-eyebrow
  @extend $title
  font-size remify(14px)

$headline
  font-family $fontTextRegular
  &-big
    @extend $headline
    font-size remify(55px)
  &-regular
    @extend $headline
    font-size remify(35px)
  &-small
    @extend $headline
    font-size remify(21px)

$text
  @extend $line-height-regular
  font-family $fontTextRegular
  &-big
    @extend $text
    font-size remify(21px)
  &-regular
    @extend $text
    font-size remify(16px)
  &-small
    @extend $text
    font-size remify(13px)
  &-bold-small
    @extend $text
    font-family $fontTextBold
    font-size remify(13px)
