$fontTitle = oiTitle, sans-serif
$fontTextRegular = oiTextRegular, sans-serif
$fontTextBold = oiTextBold, sans-serif
// $fontTextLight = oiTextLight, sans-serif
$fontTextLight = $fontTextRegular

$baseline  = .625rem // 10px

.container
  font-family oiTextRegular, sans-serif

//
// Line
//
$line-height-small
  line-height remify(16px)
$line-height-regular
  line-height remify(20px)
$line-height-big
  line-height remify(30px)

//
// Title
//
$title
  font-family $fontTitle
  text-transform uppercase
  display block
$title-huge
  @extend $title
  font-size remify(112px)
$title-big
  @extend $title
  font-size remify(85px)
$title-medium
  @extend $title
  font-size remify(57px)
$title-small
  @extend $title
  font-size remify(42px)
$title-tiny
  @extend $title
  font-size remify(28px)
$title-eyebrow
  @extend $title
  font-size remify(14px)

$title-light-big
  font-family $fontTextLight
  font-size remify(55px)
$title-light-small
  font-family $fontTextLight
  font-size remify(21px)

//
// Headline
//
$headline
  font-family $fontTextLight

$headline-big
  @extend $headline
  font-size remify(55px)
$headline-regular
  @extend $headline
  font-size remify(35px)
$headline-small
  @extend $headline
  font-size remify(21px)

//
// Text
//
$text
  @extend $line-height-regular
  font-family $fontTextRegular
$text-big
  @extend $text
  font-size remify(21px)
$text-regular
  @extend $text
  font-size remify(16px)
$text-small
  @extend $text
  font-size remify(13px)
$text-bold-small
  @extend $text
  font-family $fontTextBold
  font-size remify(13px)


/**
 *
 * Bullet
 *
 * Bullet has a proportional size agains the text headline
 * Keep this only on headlines
 *
 * **/
.heading-bullet
  position relative
  top -0.21em
  display inline-block
  border-radius 50%
  width 0.3125em
  height 0.3125em
  background-color $grayLight

/**
 *
 * Hashtag
 *
 * Used on table heading to indicate some heading tags
 *
 * **/
.hashtag
  display: inline-block
  width: 3.9375rem
  height: 1.3125rem
  background: $green
  color: $white
  font-size: 0.8125rem
  font-weight: normal
  padding: 0.18125rem 0.48125rem
  border-radius: 0.13rem

strong
  font-family $fontTextBold

.product-cheat-sheet, .oi-banda-larga_table_footer, .alert-box {
  a {
    color: $green;
    border-bottom: 0.08em solid rgba($green, 0);
    text-decoration: none;
    &:hover {
      color: $purple;
      border-bottom: 0.08em solid rgba($purple, 1);
    }
  }
}


