$fontTitle = oiTitle, sans-serif
$fontTextRegular = oiTextRegular, sans-serif
$fontTextBold = oiTextBold, sans-serif
$fontTextLight = oiTextLight, sans-serif

$baseline  = .625rem // 10px

.container
  font-family oiText, sans-serif

$line-height-small
  line-height remify(16px)
$line-height-regular
  line-height remify(20px)
$line-height-big
  line-height remify(30px)

//
// Title
//
$title
  font-family $fontTitle
  text-transform uppercase
  display block
$title-huge
  @extend $title
  font-size remify(112px)
$title-big
  @extend $title
  font-size remify(85px)
$title-medium
  @extend $title
  font-size remify(57px)
$title-small
  @extend $title
  font-size remify(42px)
$title-tiny
  @extend $title
  font-size remify(28px)
$title-eyebrow
  @extend $title
  font-size remify(14px)

$title-light-big
  font-family $fontTextLight
  font-size remify(55px)
$title-light-small
  font-family $fontTextLight
  font-size remify(21px)

//
// Headline
//
$headline
  font-family $fontTextRegular

$headline-big
  @extend $headline
  font-size remify(55px)
$headline-regular
  @extend $headline
  font-size remify(35px)
$headline-small
  @extend $headline
  font-size remify(21px)

//
// Text
//
$text
  @extend $line-height-regular
  font-family $fontTextRegular
$text-big
  @extend $text
  font-size remify(21px)
$text-regular
  @extend $text
  font-size remify(16px)
$text-small
  @extend $text
  font-size remify(13px)
$text-bold-small
  @extend $text
  font-family $fontTextBold
  font-size remify(13px)
