mixin buildPlan(data)
  .build-plan
    ul.plan-icons
      li
        include ../../assets/images/icons/tv.svg
      li
        include ../../assets/images/icons/internet.svg
      li
        include ../../assets/images/icons/fixo.svg
      li
        include ../../assets/images/icons/celular.svg
    button Simule e Economize
