mixin footer(data)
  footer.oi-footer
    nav.oi-footer_products
      ul
        li.oi-footer_products_category
          h5.oi-footer_products_category_title TV HD
          ul.oi-footer_products_subcategory
            li 
              a(href="#") Planos
            li 
              a(href="#") Serviços Adicionais
            li 
              a(href="#") Atendimento ao Cliente
        li.oi-footer_products_category
          h5.oi-footer_products_category_title Internet
          ul.oi-footer_products_subcategory
            li 
              a(href="#") Planos
            li 
              a(href="#") Serviços Adicionais
            li 
              a(href="#") Atendimento ao Cliente
        li.oi-footer_products_category
          h5.oi-footer_products_category_title Fixo
          ul.oi-footer_products_subcategory
            li 
              a(href="#") Planos
            li 
              a(href="#") Serviços Adicionais
            li 
              a(href="#") Atendimento ao Cliente
        li.oi-footer_products_category
          h5.oi-footer_products_category_title Celular
          ul.oi-footer_products_subcategory
            li 
              a(href="#") Planos
            li 
              a(href="#") Serviços Adicionais
            li 
              a(href="#") Atendimento ao Cliente
        li.oi-footer_products_category
          h5.oi-footer_products_category_title Combo
          ul.oi-footer_products_subcategory
            li 
              a(href="#") Planos
            li 
              a(href="#") Serviços Adicionais
            li 
              a(href="#") Atendimento ao Cliente
    
