
mixin menu(data)
  nav.menu
    ul
      li.home
        a(href="/")
          include ../../assets/images/oi/oi-logo.svg
          |Oi
      li
        a(href="/") Minha Oi
      li.products
        a(href="/") Produtos e Serviços
      li.search
        a(href="/")
          include ../../assets/images/icons/lupa.svg
          | Busca
