
mixin menu(data)
  nav.menu
    ul
      li.home
        a(href="/") Oi
      li
        a(href="/") Minha Oi
      li
        a(href="/") Produtos e Serviços
    
    label
      span Busca
      input(type="text" placeholder="Busca")
