$isIE8 = false
@import "../_partials/_base.styl"

// Page Components
@import "../_partials/_structure.styl"
@import "../_partials/_content.styl"
@import "../_partials/_content-header.styl"

@import "_modal-plan-fixo.styl"
@import "_table-compare.styl"
@import "_addons.styl"
@import "_footer-details.styl"
@import "_etc.styl"
