$buildplan-height-s = 28px
$buildplan-padding-s = 10px
// $buildplan-content-height-s = $buildplan-height-s - $buildplan-padding-s * 2
$buildplan-content-height-s = 48px

$buildplan-height-m = 40px
$buildplan-padding-m = 15px
// $buildplan-content-height-m = $buildplan-height-m - $buildplan-padding-m * 2
$buildplan-content-height-m = 70px

@keyframes kf-text
  0%
    width: 0rem
  100%
    width: 25%


oi-buildplan
  display block
  position relative
  z-index 2

.build-plan
  background $white
  color $black
  display block
  height: remify($buildplan-content-height-s);
  padding remify($buildplan-padding-s) remify(20px)
  text-align center
  text-decoration none
  +above('m')
    max-width: remify(1170px)
    margin: 0 auto
    font-size remify(16px)
    padding remify($buildplan-padding-m) 0
    height remify($buildplan-content-height-m)

  // right box
  &_text
    display none
    +above('m')
      position relative
      display inline-block
      width 0rem
      max-width: remify(196px)
      margin-right remify(30px)
      text-align right
      line-height remify(44px)
      white-space nowrap
      opacity 1
      overflow: hidden
      vertical-align top
      animation: kf-text 0.610s
      animation-delay: 3s
      animation-timing-function: ease-out
      animation-fill-mode: forwards;

  // left box
  &_icons
    position relative
    display inline-block
    min-width: remify(163px)
    height remify($buildplan-height-s)
    padding 0 remify(7px)
    z-index 2
    background-image: url(../../../../assets/images/icons/bracer-left.svg), url(../../../../assets/images/icons/bracer-right.svg)
    background-repeat: no-repeat
    background-size: auto 100%
    background-position:left center, right center
    text-align: center
    +above('m')
      height remify($buildplan-height-m)

    li
      display inline-block
      width remify(22px)
      height remify(22px)
      margin remify(3px) remify(5px)
      text-align center
      +above('m')
        width remify(24px)
        height remify(24px)
        margin remify(8px)

      div
        width: 100%
        height: 100%
        svg
          display block
          width: 100%
          height: 100%
      div:first-child
        display: block
        +above('m')
          display: none
      div:last-child
        display: none
        +above('m')
          display: block
  &_action
    display inline-block
    width: remify(100px)
    height remify($buildplan-height-s)
    padding 0 remify(30px)
    margin-left: remify(10px)
    vertical-align: top;
    border remify(1.2px) solid $black
    border-radius remify(2px)
    font-size: remify(11px)
    text-align: center
    line-height: remify($buildplan-height-s)
    +above('m')
      width: auto
      height remify($buildplan-height-m)
      margin-left remify(30px)
      padding 0 remify(20px)
      font-size: remify(16px)
      line-height remify($buildplan-height-m)

    &:hover, &:active, &:focus
      color $purple
      border-color $purple
      outline none

    span
      &:first-child
        display inline
        +above('m')
          display none
      &:last-child
        display none
        +above('m')
          display inline

