.card
  background $white
  border remify(1px) solid $grayLight
  height remify(587px)
  padding-top remify(24px)
  position relative
  text-align center
  width remify(392px)
  display inline-block
  float left
  & + .card
    border-left 0
  &-title
    @extend $headline-small
    color: $green
    margin-bottom remify(11px)
  &-list-subtitle
    @extend $headline-small
    border-bottom remify(1px) solid $grayLight
    margin 0 auto remify(37px) auto
    padding-bottom remify(22px)
    width remify(210px)
    li
      circleSeparator(6px, 3px, 8px)
      display inline-block
  // @todo: buggy in container width
  &-price > div
      transform translateX(remify(32px))
      margin-bottom remify(16px)
  &-info
    @extend $text-small
    color $gray
    margin 0 auto remify(25px) auto
    width remify(160px)

  &-list
    @extend $line-height-big
    @extend $text-small
    color $black
    text-align left
    padding-left remify(117px)

  &-action
    @extend $button-regular
    absoluteBottomLeft(remify(30px), remify(30px))
    width s('calc(100% - %s)', remify(30px) * 2 )
