.channel-info
  padding remify(290px) remify(90px) remify(290px) remify(170px)
  @extend $text-regular
  color $white
  .title
    @extend $title-tiny
    color $white
    font-size remify(55px)
    line-height remify(60px)
  .call
    height remify(60px)
    line-height remify(60px)
    color $white
    text-decoration none
    border 1px solid $gray
    border-radius remify(3px)
    display inline-block
    margin-top remify(10px)
    padding 0 remify(25px)
    .number
      font-family $fontTextBold
      display inline-block
      margin-right remify(10px)
      font-size remify(21px)
  .subtitle
    margin-top remify(85px)
    margin-bottom remify(50px)
    font-size remify(16px) !important
  .desc
    margin-bottom remify(100px)
    p
      margin-bottom remify(25px)
      line-height remify(22px)
  .title-list
    margin-bottom (50px)
    font-size remify(16px) !important
  .list-channels
    overflow hidden
    margin-bottom remify(90px)
    margin-top remify(50px)
    display block
    li
      float left
      line-height remify(15px)
      font-size remify(13px)
      border-bottom 1px dashed $gray
      display block
      width 41%
      margin-right 9%
      span
        display block
        text-align right
        margin remify(5px) 0
  .title-avaliable
    margin-bottom remify(40px)
    font-size remify(16px) !important
  .list-avaliable
    margin-bottom remify(90px)
    li
      height remify(30px)
      line-height remify(30px)
    a
      color $white
      text-decoration underline
  .sign-now
    margin-bottom remify(140px)
    a
      color $white
      text-decoration underline


