// print-modal

channel-print
  display block
  +above('m')
    min-height remify(102px)

.channel-print
  background $white
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  z-index 3
  overflow auto

  &_close
    width remify(30px)
    height remify(30px)
    position fixed
    top remify(30px)
    right remify(30px)
    overflow hidden
    z-index 3
    svg
      display block
      width remify(30px)
      height remify(30px)
      line
        stroke $grayLight

  &_logo
    display none
    margin-bottom remify(50px)
    +above('m')
      display block
    svg
      display block
      height remify(70px)

  &_results
    display block
    height 65%
    background-color $white
    +above('m')
      height 100%
      width 90%
      margin auto
      
    h2
      font-family $fontTitle
      font-size remify(38px)
      padding-top remify(60px)

  &_list
    display block
    overflow hidden
    border-top 1px solid #222222
    +above('m')
      margin-top remify(40px)
    +above('l')
      margin-top remify(40px)

    &_item
      display block
      height remify(50px)
      line-height remify(50px)
      font-family $fontTextRegular
      font-size remify(13px)
      width 33.33%
      max-width remify(706px)
      float left
      border-right 1px solid #d6d6d6
      
      &:nth-child(3n)
        border-right none
        
    &_type
      display block
      float left
      width remify(50px)
      height remify(50px)
      background-repeat no-repeat
      background-size contain
      background-position center
      &.type-1
        background-size remify(36px)
      &.type-2
        background-image url(/assets/images/icons/music.svg)
        background-size remify(30px)


    &_name
      display block
      float left
      height remify(50px)
      margin-left remify(20px)
      
    &_number
      display block
      float left
      height remify(50px)
      margin-left remify(20px)
      width remify(30px)
