// contract-rules

.contract-rules
  background $white
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  z-index 3

  &_close
    width remify(30px)
    height remify(30px)
    position absolute
    top remify(30px)
    right remify(30px)
    overflow hidden
    z-index 3
    svg
      display block
      width remify(30px)
      height remify(30px)
      line
        stroke $grayLight

  &_title
    display block
    padding remify(20px)
    height 27%
    background $green
    background-image linear-gradient(0deg,#47b969,#00a596)
    +above('m')
      padding-right 0
      height 100%
      width (100%  / 3)
      float left
    +above('l')
      padding remify(100px)
      padding-right 0

    &_container
      +above('l')
        max-width remify(1170px / 3)
        float right

    &_logo
      display none
      margin-bottom remify(50px)
      +above('m')
        display block
      svg
        display block
        height remify(70px)

    &_text
      display block
      font-family $fontTitle
      font-size remify(35px)
      line-height remify(37px)
      text-transform uppercase
      color $white
      text-align center
      +above('m')
        text-align left
        padding-right remify(50px)
      +above('l')
        padding-right remify(70px)
        font-size remify(57px)
        line-height remify(57px)


  &_content
    display block
    padding remify(20px)
    height 65%
    background-color $white
    font-family $fontTextRegular
    font-size remify(16px)
    overflow scroll
    +above('m')
      height 100%
      width (100%  / 3 * 2)
      float left

    &_container
      +above('m')
        padding-left remify(100px)
      +above('l')
        max-width remify(780px)


    &_list
      overflow hidden

      &_title
        color $black
        line-height remify(30px)
        margin-bottom remify(20px)
        +above('m')
          margin-bottom remify(50px)
          float left
          width 40%
        +above('l')
          width 50%

      &_items
        display block
        margin-bottom remify(50px)
        +above('m')
          float left
          width 60%
        +above('l')
          width 50%

        li
          display block
          line-height remify(30px)

        a
          display block
          color $green
          text-decoration none

    &_definitions
      display block
      border-top remify(1px) solid $black
      clear both
      padding-top remify(90px)
      padding-bottom remify(130px)

      &_title
        font-size remify(30px)
        margin-bottom remify(60px)

      dl
        display block

      dt
        display block
        font-family $fontTextBold
        margin-bottom remify(20px)

      dd
        margin-bottom remify(70px)

      a
        display block
        text-decoration none
        color $green
