.oi-footer
  background-color $grayLighter

  &_products
    +above('l')
      border-top remify(1px) solid $grayLight
      padding-top remify(60px)

    & > ul
      margin 0 auto
      max-width remify(1170px)
      overflow hidden

    &_category
      display block
      padding 0 remify(20px)
      +above('m')
        float left
        padding-right 0
        width (100% / 3)
      +above('l')
        width (100% / 5)
        margin-bottom remify(60px)

      &_title
        font-family $fontTextBold
        height remify(55px)
        line-height remify(55px)

    &_subcategory
      display none
      margin-bottom remify(30px)
      +above('m')
        display block

      li
        display block

      a
        color $black
        display block
        font-family $fontTextRegular
        line-height remify(30px)
        text-decoration none
        
        &:hover 
          color $purple 

  &_site
    background-color $purple
    overflow hidden

    & > ul
      height remify(70px)
      line-height remify(70px)
      margin 0 auto
      max-width remify(1170px)
      padding 0 remify(20px)


    li
      display none
      height remify(70px)
      position relative
      margin-right remify(10px)
      &:last-child
        margin-right 0
      +above('m')
        display inline-block

      &.home
        display inline-block
        padding-top remify(10px)
        width remify(50px)
        margin-right remify(30px)
        float left
        svg
          display inline-block
          height remify(50px)
        a
          padding 0

      &.find-store, &.visitors
        display none
        +above('l')
          display inline-block

      &.search-az
        display inline-block
        float right

    a
      color $white
      display block
      font-family $fontTextRegular
      height remify(70px)
      line-height remify(70px)
      text-decoration none
      font-size remify(16px)
      padding 0 remify(10px)
      
      &:hover 
        text-decoration underline