footer
  nav.footer-products
    center( remify(1170px) )
    @extend $text-regular
    @extend $line-height-big
    color $black
    padding-top remify(70px)

    li.footer-group
      column(1/5)

      ul
        margin-top remify(19px)
    a
      text-decoration none
      color $black

  nav.footer-oi
    height remify(70px)
