@import 'jeet'

scale               = 0  322px 480px 768px 992px 1200px
rupture.scale-names = '0' 'xs'   's'   'm'   'l'   'xl'

// edit

.container
  center(100%)
  // +above('xs')
  //   max-width 500px
  // +above('s')
  //   max-width 600px
  // +above('m')
  //   max-width 700px
  // +above('l')
  //   max-width 800px
  // +above('xl')
  //   max-width 900px


.teste
  center(400px)
  +above('xs')
    max-width 500px
  +above(2)
    max-width 700px
