oi-header
  display block
  position relative
  z-index 2

.oi-header
  max-width remify(1170px)
  margin 0 auto
  background-color $green
  height s("calc(100vh - " + remify(140px) + ")")
  line-height $header-height-xs
  text-align center
  border-bottom remify(1px) solid #178a7f
  position relative
  z-index 2
  +above('m')
    border-bottom none
    background-color transparent

  &_title
    color $white
    font-family $fontTitle
    font-size remify(70px)
    height remify(355px)
    line-height remify(355px)
    text-align center
    width 100%
    +above('m')
      width 50%
      float left
      height  remify(120px)
      font-size remify(112px)
      height remify(112px)
      line-height remify(112px)
      text-align left
      margin-top remify(55px)

  &_client-type
    +above('m')
      height remify(112px)
      line-height remify(112px)
      margin-top remify(46px)
      width 50%
      float right
      text-align right

    a
      color $white
      font-family $fontTextRegular
      font-size remify(16px)
      text-decoration none

