.hero
  absoluteTopLeft(remify(70px))
  background-color $gray
  overflow hidden
  width 100%
  z-index 1
  +below(415px)
    background-color $green
    height 66vh
    .imgc
      display none
  +above(415px)
    height remify(820px)
  +above(767px)
    height remify(625px)
  .imgc
    size(100%, 100%)
    background-repeat no-repeat
    background-size cover
    background-position top center

  img
    width 100%
