@font-face {
	font-family: "oi-icons";
	src: url('../fonts/oi-icons.eot');
	src: url('../fonts/oi-icons.eot?#iefix') format('eot'),
		url('../fonts/oi-icons.woff') format('woff'),
		url('../fonts/oi-icons.ttf') format('truetype'),
		url('../fonts/oi-icons.svg#oi-icons') format('svg');
}

.icon:before {
	font-family: "oi-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-app-s:before {
	content: "\E001";
}

.icon-arrow:before {
	content: "\E002";
}

.icon-banda-s:before {
	content: "\E003";
}

.icon-banda:before {
	content: "\E004";
}

.icon-celular-s:before {
	content: "\E005";
}

.icon-celular:before {
	content: "\E006";
}

.icon-email-s:before {
	content: "\E007";
}

.icon-error:before {
	content: "\E008";
}

.icon-fixo-s:before {
	content: "\E009";
}

.icon-fixo:before {
	content: "\E00A";
}

.icon-internet-s:before {
	content: "\E00B";
}

.icon-internet:before {
	content: "\E00C";
}

.icon-ligacao-s:before {
	content: "\E00D";
}

.icon-pin-s:before {
	content: "\E00E";
}

.icon-success:before {
	content: "\E00F";
}

.icon-tv-s:before {
	content: "\E010";
}

.icon-tv:before {
	content: "\E011";
}

.icon-user-s:before {
	content: "\E012";
}

.icon-via-s:before {
	content: "\E013";
}
