font-face( "oiIcons", "../fonts/oi-icons/oi-icons", normal )

.icon
  &:before
    font-family "oiIcons"
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    font-style normal
    font-variant normal
    font-weight normal
    text-decoration none
    text-transform none

.icon
  &-app-s-aqua
    &:before
      content "\E001"
  &-banda-black
    &:before
      content "\E002"
  &-celular-black
    &:before
      content "\E003"
  &-celular-s-black
    &:before
      content "\E004"
  &-email-s-aqua
    &:before
      content "\E005"
  &-fixo-black
    &:before
      content "\E006"
  &-fixo-s-black
    &:before
      content "\E007"
  &-internet-black
    &:before
      content "\E008"
  &-internet-s-black
    &:before
      content "\E009"
  &-ligacao-s-aqua
    &:before
      content "\E00A"
  &-pin-s-aqua
    &:before
      content "\E00B"
  &-tv-black
    &:before
      content "\E00C"
  &-tv-s-black
    &:before
      content "\E00D"
  &-user-s-aqua
    &:before
      content "\E00E"
  &-via-s-aqua
    &:before
      content "\E00F"
