oi-menu
  position relative
  z-index 2
  display block

.oi-menu
  height remify(70px)
  border-bottom remify(1px) solid #178a7f
  background-color $green
  padding 0 remify(15px)
  +above('m')
    background-color rgba(0, 0, 0, .4)
    border-bottom none

  ul
    overflow hidden
    center(1170px)

  li
    height remify(70px)
    line-height remify(70px)
    display block
    float left
    margin 0 remify(5px)

    &.oi-menu_home
      overflow hidden
      width remify(50px)
      svg
        height remify(45px)
        margin-top remify(10px)

    &.oi-menu_minha-oi
      +above('m')
        display none

    &.oi-menu_products
      +above('m')
        display none

    &.oi-menu_search
      float right
      svg
        height remify(16px)
        fill $black
        opacity .3
      span
        display none
        +above('m')
          display inline
          margin-left remify(5px)

    &.oi-menu_minha-oi-m
      display none
      +above('m')
        float right
        background-color red

    &.oi-menu_m
      display none
      +above('m')
        display block

  svg
    display inline-block

  a
    @extend $text-regular
    color $white
    height remify(70px)
    line-height remify(70px)
    display inline-block
    text-decoration none
    padding 0 remify(5px)

  span > span
    display none
    +above('m')
      display inline




