.menu
  @extend $text-regular
.menu
  height remify(70px)
  line-height remify(70px)
  overflow hidden
  position relative
  z-index 2
  +mobile()
    center(100%)
  +above(414px)
    center(724px)
  +above(768px)
    center(1200px)

  ul
    overflow hidden
    float left

  li
    display block
    float left
    margin 0 remify(15px)
  a
    line-height remify(70px)
    display block
    color $white
    text-decoration none
    +mobile()
      @extend $text-big
      color red
    +tablet()
      @extend $text-regular

  .home
    width remify(65px)
    +mobile()
      margin 0 remify(10px) 0 remify(20px)
    +tablet()
      margin 0 0 0 remify(10px)
    a
      color transparent
      background-image url(/assets/images/oi/oi-logo.svg)
      background-position remify(4px) remify(12px)
      background-repeat no-repeat
      background-size remify(50px)
      font-size remify( 21px)
      line-height remify( 94px)
      text-indent remify( 10px)

  label
    display block
    float left
    span
      @extend $visuallyhidden
    input
      @extend $text-regular
      background-color transparent
      border 0
