channel-modal
  display block

.channel-modal
  background-color $green
  background-image linear-gradient(0deg,#47b969,#00a596)
  display none
  position fixed
  top 0
  left 0
  z-index 3
  transition all 1s ease
  width 100%
  height 100vh
  overflow scroll
  +above('m')
    width 100vw

  &.indisponible
    filter grayscale(1)
    .channel-modal_indisponible
      opacity 1
      // display block
    .channel-modal_content
      opacity .8

  &.has-image
    background-color #000
    background-image none
    .channel-modal_image
      opacity 1

  &_indisponible
    position absolute
    z-index 3
    left 0
    width 100%
    // display none
    opacity 0
    top remify(80px)
    text-align center
    transition all 1s ease
    +above('m')
      top remify(20px)
    +above('l')
      top remify(60px)

    div
      font-family $fontTextRegular
      text-align center
      height remify(30px)
      font-size remify(16px)
      line-height remify(30px)
      margin 0
      background-color #000
      color $white
      display inline-block
      padding 0 remify(20px)
      +above('m')
        padding 0 remify(100px)
        margin 0 remify(100px)
        height remify(70px)
        line-height remify(70px)
      +above('l')
        display block

  &_content
    font-family $fontTextRegular
    position relative
    z-index 2
    overflow hidden
    padding remify(30px) remify(20px)
    padding-top remify(140px)
    max-width remify(1170px)
    margin 0 auto
    +above('m')
      padding remify(70px)
      padding-top remify(140px)
    +above('l')
      padding-top remify(140px)
      padding-left remify(100px)
      padding-right remify(100px)

    &_header
      +above('m')
        height remify(310px)
        float left
        width 50%
      +above('l')
        width 60%

    &_price
      margin-bottom remify(60px)
      +above('m')
        height remify(310px)
        float left
        width 43%
        margin-left 7%
        padding-top remify(180px)
        margin-bottom 0
      +above('l')
        width 33%
        margin-left 7%

      a
        background-color transparent
        border remify(1px) solid $white
        border-radius remify(2px)
        height remify(50px)
        line-height remify(50px)
        text-align center
        color $white
        text-decoration none
        margin-left auto
        +above('m')
          margin-left remify(30px)

        &.add
          display none
          transform translate(0, remify(-17px))
          +above('m')
            padding 0 remify(20px)
            display inline-block
          +above('xl')
            padding 0 remify(40px)
        &.tel
          display block
          +above('m')
            display none

  &_image
    position absolute
    z-index 1
    top 0
    left 0
    width 100%
    height 100%
    background-color #000
    background-repeat no-repeat
    background-position top center
    transition opacity 0.5s ease
    opacity 0
    display none
    +above('m')
      display block

  &_close
    color $white
    position absolute
    top remify(30px)
    right remify(30px)
    width remify(30px)
    height remify(30px)
    cursor pointer
    overflow hidden
    text-indent remify(-999px)
    z-index 4
    svg
      display block
      width remify(30px)
      height remify(30px)
      line
        stroke $white

  &_logo
    height remify(120px)
    margin-bottom remify(60px)
    background-repeat no-repeat
    display none
    +above('m')
      display block

  &_name
    color $white
    font-size remify(47px)
    line-height remify(47px)
    font-family $fontTitle
    +above('m')
      font-size remify(57px)
      line-height remify(57px)

  &_channel
    color $white
    font-size remify(21px)
    line-height remify(21px)
    margin-bottom remify(50px)

  &_info
    color $white
    font-size remify(16px)
    line-height remify(30px)
    width 100%
    +above('m')
      float left
      width 50%
    +above('l')
      width 60%

    p
      color $white
      margin-bottom remify(40px)

    &_list
      margin-bottom remify(70px)
      h3
        display block
        margin-bottom remify(50px)
      ul
        display block
        overflow hidden
      li
        background-position left center
        background-repeat no-repeat
        border-bottom remify(1px) dashed $grayLight
        font-size remify(13px)
        height remify(60px)
        padding remify(10px)
        width 100%
        &:first-child
          border-top remify(1px) solid $grayLight
        &:nth-child(0n+2)
          +above('m')
            border-top remify(1px) solid $grayLight
        &:last-child
          border-bottom remify(1px) solid $grayLight
        &:nth-last-child(2)
          +above('m')
            border-bottom remify(1px) solid $grayLight
        +above('m')
          float left
          width 47%
          margin-right 3%
      span
        display block
        line-height remify(20px)
        text-align right

  &_disponible
    color $white
    width 100%
    +above('m')
      float left
      width 43%
      margin-left 7%
    +above('l')
      width 33%
      margin-left 7%

    &_title
      color $white
      margin-bottom remify(30px)

    &_list
      color $white
      margin-bottom remify(60px)
      ul
        color $white
      li
        color $white
        display block
        line-height remify(30px)
      a
        color $white

  &_action
    color $white
    width 100%
    +above('m')
      float left
      width 43%
      margin-left 7%
    +above('l')
      width 33%
      margin-left 7%

    &_title
      color $white
      margin-bottom remify(30px)

    &_link
      color $white
      a
        color $white

  .oi-price
    display none
    zoom 82px
    transform scale(.8)
    color $white
    +above('m')
      display inline-block
