oi-price
  position relative
  display block

.oi-price
  position relative
  color inherit
  display block
  height remify(44px)
  +above('m')
    height remify(110px)

  // &.oi-price--small
  //   .oi-price_value_integer
  //     font-size remify(42px)
  //     height remify(44px)
  //     line-height remify(44px)
  //     float right
  //     margin-right remify(30px)
  //   .oi-price_value_cents
  //     font-size remify(21px)
  //     height remify(22px)
  //     line-height remify(22px)
  //     transform translate(0px, remify(-41px))
  //     float right
  //   .oi-price_suffix
  //     font-size remify(11px)
  //     height remify(22px)
  //     line-height remify(22px)
  //     // margin-top remify(-25px)
  //     // text-indent remify(43px)
  //     text-indent 0
  //     float right
  //     margin-right remify(-30px)
  //     width remify(31px)

  &_prefix
    display: none
    +above('m')
      position absolute;
      display: block
      font-size remify(13px)
      font-family $fontTextRegular
      text-transform lowercase
      color $grayLight
      width: 100%
      top: remify(4px);
      left: remify(51px);

  &_value
    position relative;
    width: 100%
    height: 100%
    margin 0 auto
    font-family $fontTitle
    text-align center
    white-space nowrap
    line-height: remify(46px)
    +above('m')
      line-height: remify(94px)

    &_integer
      position relative;
      display inline-block
      top: remify(-7px)
      left: remify(7px)
      font-size remify(34px)
      +above('m')
        top: remify(21px)
        left: remify(29px)
        font-size remify(96px)

    &_cents
      position relative;
      display inline-block
      top: remify(-19px)
      left: remify(9px)
      font-size: remify(18px)
      +above('m')
        top: remify(-14px)
        left: remify(29px)
        font-size: remify(48px)

    &_suffix
      position relative;
      display inline-block
      font-size remify(9px)
      top: remify(-6px)
      left: remify(-14px)
      +above('m')
        top: remify(21px)
        left: remify(-32px)
        font-size remify(24px)
      span
        +below('m')
          display: none



.oi-price.small
  .oi-price_value_integer
    font-size remify(42px)
    height remify(44px)
    line-height remify(44px)
  .oi-price_value_cents
    font-size remify(21px)
    height remify(22px)
    line-height remify(22px)
    transform translateY(remify(-14px))
  .oi-price_suffix
    font-size remify(11px)
    height remify(22px)
    line-height remify(22px)
    margin-top remify(-25px)
    text-indent remify(43px)
