$s-a-e = 0px 80px 0px -80px 240px 80px 240px 10080px 'sprite-logos.png';
$s-animal-planet = 0px 5040px 0px -5040px 240px 80px 240px 10080px 'sprite-logos.png';
$s-aparecida = 0px 160px 0px -160px 240px 80px 240px 10080px 'sprite-logos.png';
$s-arte-1 = 0px 240px 0px -240px 240px 80px 240px 10080px 'sprite-logos.png';
$s-axn = 0px 320px 0px -320px 240px 80px 240px 10080px 'sprite-logos.png';
$s-baby-tv = 0px 400px 0px -400px 240px 80px 240px 10080px 'sprite-logos.png';
$s-band-news = 0px 480px 0px -480px 240px 80px 240px 10080px 'sprite-logos.png';
$s-band-sports = 0px 560px 0px -560px 240px 80px 240px 10080px 'sprite-logos.png';
$s-band = 0px 640px 0px -640px 240px 80px 240px 10080px 'sprite-logos.png';
$s-bbc = 0px 720px 0px -720px 240px 80px 240px 10080px 'sprite-logos.png';
$s-bis = 0px 800px 0px -800px 240px 80px 240px 10080px 'sprite-logos.png';
$s-bloomberg = 0px 880px 0px -880px 240px 80px 240px 10080px 'sprite-logos.png';
$s-boomerang = 0px 960px 0px -960px 240px 80px 240px 10080px 'sprite-logos.png';
$s-byu-tv = 0px 1040px 0px -1040px 240px 80px 240px 10080px 'sprite-logos.png';
$s-canais-internacionais = 0px 1120px 0px -1120px 240px 80px 240px 10080px 'sprite-logos.png';
$s-canal-brasil = 0px 1200px 0px -1200px 240px 80px 240px 10080px 'sprite-logos.png';
$s-canal-oi = 0px 1280px 0px -1280px 240px 80px 240px 10080px 'sprite-logos.png';
$s-canal-rural = 0px 1360px 0px -1360px 240px 80px 240px 10080px 'sprite-logos.png';
$s-canal-viva = 0px 1440px 0px -1440px 240px 80px 240px 10080px 'sprite-logos.png';
$s-cancao-nova = 0px 1520px 0px -1520px 240px 80px 240px 10080px 'sprite-logos.png';
$s-cartoon-network = 0px 1600px 0px -1600px 240px 80px 240px 10080px 'sprite-logos.png';
$s-chef-tv = 0px 1680px 0px -1680px 240px 80px 240px 10080px 'sprite-logos.png';
$s-cinemax = 0px 1760px 0px -1760px 240px 80px 240px 10080px 'sprite-logos.png';
$s-climatempo = 0px 1840px 0px -1840px 240px 80px 240px 10080px 'sprite-logos.png';
$s-cnn-en-espanol = 0px 1920px 0px -1920px 240px 80px 240px 10080px 'sprite-logos.png';
$s-cnn = 0px 2000px 0px -2000px 240px 80px 240px 10080px 'sprite-logos.png';
$s-cnt = 0px 2080px 0px -2080px 240px 80px 240px 10080px 'sprite-logos.png';
$s-combate = 0px 2160px 0px -2160px 240px 80px 240px 10080px 'sprite-logos.png';
$s-comedy-central = 0px 2240px 0px -2240px 240px 80px 240px 10080px 'sprite-logos.png';
$s-curta = 0px 2320px 0px -2320px 240px 80px 240px 10080px 'sprite-logos.png';
$s-discovery-channel = 0px 2400px 0px -2400px 240px 80px 240px 10080px 'sprite-logos.png';
$s-discovery-civilization = 0px 2480px 0px -2480px 240px 80px 240px 10080px 'sprite-logos.png';
$s-discovery-kids = 0px 2560px 0px -2560px 240px 80px 240px 10080px 'sprite-logos.png';
$s-discovery-science = 0px 2640px 0px -2640px 240px 80px 240px 10080px 'sprite-logos.png';
$s-discovery-theater = 0px 2720px 0px -2720px 240px 80px 240px 10080px 'sprite-logos.png';
$s-discovery-turbo = 0px 2800px 0px -2800px 240px 80px 240px 10080px 'sprite-logos.png';
$s-disney-channel = 0px 2880px 0px -2880px 240px 80px 240px 10080px 'sprite-logos.png';
$s-disney-jr = 0px 2960px 0px -2960px 240px 80px 240px 10080px 'sprite-logos.png';
$s-disney-xd = 0px 3040px 0px -3040px 240px 80px 240px 10080px 'sprite-logos.png';
$s-dw = 0px 3120px 0px -3120px 240px 80px 240px 10080px 'sprite-logos.png';
$s-e = 0px 3200px 0px -3200px 240px 80px 240px 10080px 'sprite-logos.png';
$s-espn-brasil = 0px 3280px 0px -3280px 240px 80px 240px 10080px 'sprite-logos.png';
$s-espn-plus = 0px 3360px 0px -3360px 240px 80px 240px 10080px 'sprite-logos.png';
$s-espn = 0px 3440px 0px -3440px 240px 80px 240px 10080px 'sprite-logos.png';
$s-esporte-interativo-nordeste = 0px 3520px 0px -3520px 240px 80px 240px 10080px 'sprite-logos.png';
$s-esporte-interativo = 0px 3600px 0px -3600px 240px 80px 240px 10080px 'sprite-logos.png';
$s-fox-hd = 0px 3680px 0px -3680px 240px 80px 240px 10080px 'sprite-logos.png';
$s-fox-life = 0px 3760px 0px -3760px 240px 80px 240px 10080px 'sprite-logos.png';
$s-fox-sports-2 = 0px 3840px 0px -3840px 240px 80px 240px 10080px 'sprite-logos.png';
$s-fox-sports = 0px 3920px 0px -3920px 240px 80px 240px 10080px 'sprite-logos.png';
$s-futura = 0px 4000px 0px -4000px 240px 80px 240px 10080px 'sprite-logos.png';
$s-fx = 0px 4080px 0px -4080px 240px 80px 240px 10080px 'sprite-logos.png';
$s-glitz = 0px 4160px 0px -4160px 240px 80px 240px 10080px 'sprite-logos.png';
$s-globo-news = 0px 4240px 0px -4240px 240px 80px 240px 10080px 'sprite-logos.png';
$s-globo = 0px 4320px 0px -4320px 240px 80px 240px 10080px 'sprite-logos.png';
$s-globosat = 0px 4400px 0px -4400px 240px 80px 240px 10080px 'sprite-logos.png';
$s-gloob = 0px 4480px 0px -4480px 240px 80px 240px 10080px 'sprite-logos.png';
$s-gnt = 0px 4560px 0px -4560px 240px 80px 240px 10080px 'sprite-logos.png';
$s-hbo = 0px 4640px 0px -4640px 240px 80px 240px 10080px 'sprite-logos.png';
$s-history-channel-2 = 0px 4720px 0px -4720px 240px 80px 240px 10080px 'sprite-logos.png';
$s-history-channel = 0px 4800px 0px -4800px 240px 80px 240px 10080px 'sprite-logos.png';
$s-home-health = 0px 4880px 0px -4880px 240px 80px 240px 10080px 'sprite-logos.png';
$s-id = 0px 4960px 0px -4960px 240px 80px 240px 10080px 'sprite-logos.png';
$s-ideal-tv = 0px 0px 0px 0px 240px 80px 240px 10080px 'sprite-logos.png';
$s-isat = 0px 5120px 0px -5120px 240px 80px 240px 10080px 'sprite-logos.png';
$s-lifetime = 0px 5200px 0px -5200px 240px 80px 240px 10080px 'sprite-logos.png';
$s-megapix = 0px 5280px 0px -5280px 240px 80px 240px 10080px 'sprite-logos.png';
$s-mix-tv = 0px 5360px 0px -5360px 240px 80px 240px 10080px 'sprite-logos.png';
$s-mtv = 0px 5440px 0px -5440px 240px 80px 240px 10080px 'sprite-logos.png';
$s-multishow = 0px 5520px 0px -5520px 240px 80px 240px 10080px 'sprite-logos.png';
$s-nat-geo-wild = 0px 5600px 0px -5600px 240px 80px 240px 10080px 'sprite-logos.png';
$s-national-geographic-channel = 0px 5680px 0px -5680px 240px 80px 240px 10080px 'sprite-logos.png';
$s-nbr = 0px 5760px 0px -5760px 240px 80px 240px 10080px 'sprite-logos.png';
$s-nick-jr = 0px 5840px 0px -5840px 240px 80px 240px 10080px 'sprite-logos.png';
$s-nick = 0px 5920px 0px -5920px 240px 80px 240px 10080px 'sprite-logos.png';
$s-off = 0px 6000px 0px -6000px 240px 80px 240px 10080px 'sprite-logos.png';
$s-paramount = 0px 6080px 0px -6080px 240px 80px 240px 10080px 'sprite-logos.png';
$s-play-tv = 0px 6160px 0px -6160px 240px 80px 240px 10080px 'sprite-logos.png';
$s-playboy-tv = 0px 6240px 0px -6240px 240px 80px 240px 10080px 'sprite-logos.png';
$s-polishop = 0px 6320px 0px -6320px 240px 80px 240px 10080px 'sprite-logos.png';
$s-premiere = 0px 6400px 0px -6400px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rbi-tv = 0px 6480px 0px -6480px 240px 80px 240px 10080px 'sprite-logos.png';
$s-record-news = 0px 6560px 0px -6560px 240px 80px 240px 10080px 'sprite-logos.png';
$s-record = 0px 6640px 0px -6640px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rede-brasil = 0px 6720px 0px -6720px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rede-genesis = 0px 6800px 0px -6800px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rede-super = 0px 6880px 0px -6880px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rede-tv = 0px 6960px 0px -6960px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rede-vida = 0px 7040px 0px -7040px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rit = 0px 7120px 0px -7120px 240px 80px 240px 10080px 'sprite-logos.png';
$s-rtp = 0px 7200px 0px -7200px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sbt = 0px 7280px 0px -7280px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sesc-tv = 0px 7360px 0px -7360px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sexprive = 0px 7440px 0px -7440px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sexyhot = 0px 7520px 0px -7520px 240px 80px 240px 10080px 'sprite-logos.png';
$s-shoptime = 0px 7600px 0px -7600px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sony = 0px 7680px 0px -7680px 240px 80px 240px 10080px 'sprite-logos.png';
$s-space = 0px 7760px 0px -7760px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sportv = 0px 7840px 0px -7840px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sportv2 = 0px 7920px 0px -7920px 240px 80px 240px 10080px 'sprite-logos.png';
$s-sportv3 = 0px 8000px 0px -8000px 240px 80px 240px 10080px 'sprite-logos.png';
$s-studio-universal = 0px 8080px 0px -8080px 240px 80px 240px 10080px 'sprite-logos.png';
$s-syfy = 0px 8160px 0px -8160px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tbs = 0px 8240px 0px -8240px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tcm = 0px 8320px 0px -8320px 240px 80px 240px 10080px 'sprite-logos.png';
$s-telecine = 0px 8400px 0px -8400px 240px 80px 240px 10080px 'sprite-logos.png';
$s-terra-viva = 0px 8480px 0px -8480px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tlc = 0px 8560px 0px -8560px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tnt = 0px 8640px 0px -8640px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tooncast = 0px 8720px 0px -8720px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tru-tv = 0px 8800px 0px -8800px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-brasil = 0px 8880px 0px -8880px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-camara = 0px 8960px 0px -8960px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-cultura = 0px 9040px 0px -9040px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-diario = 0px 9120px 0px -9120px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-escola = 0px 9200px 0px -9200px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-justica = 0px 9280px 0px -9280px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-novo-tempo = 0px 9360px 0px -9360px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-ra-tim-bum = 0px 9440px 0px -9440px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv-senado = 0px 9520px 0px -9520px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tv5-monde = 0px 9600px 0px -9600px 240px 80px 240px 10080px 'sprite-logos.png';
$s-tve = 0px 9680px 0px -9680px 240px 80px 240px 10080px 'sprite-logos.png';
$s-universal-channel = 0px 9760px 0px -9760px 240px 80px 240px 10080px 'sprite-logos.png';
$s-vh1-mega-hits = 0px 9840px 0px -9840px 240px 80px 240px 10080px 'sprite-logos.png';
$s-warner = 0px 9920px 0px -9920px 240px 80px 240px 10080px 'sprite-logos.png';
$s-woohoo = 0px 10000px 0px -10000px 240px 80px 240px 10080px 'sprite-logos.png';


.s-a-e
  sprite($s-a-e)
.s-animal-planet
  sprite($s-animal-planet)
.s-aparecida
  sprite($s-aparecida)
.s-arte-1
  sprite($s-arte-1)
.s-axn
  sprite($s-axn)
.s-baby-tv
  sprite($s-baby-tv)
.s-band-news
  sprite($s-band-news)
.s-band-sports
  sprite($s-band-sports)
.s-band
  sprite($s-band)
.s-bbc
  sprite($s-bbc)
.s-bis
  sprite($s-bis)
.s-bloomberg
  sprite($s-bloomberg)
.s-boomerang
  sprite($s-boomerang)
.s-byu-tv
  sprite($s-byu-tv)
.s-canais-internacionais
  sprite($s-canais-internacionais)
.s-canal-brasil
  sprite($s-canal-brasil)
.s-canal-oi
  sprite($s-canal-oi)
.s-canal-rural
  sprite($s-canal-rural)
.s-canal-viva
  sprite($s-canal-viva)
.s-cancao-nova
  sprite($s-cancao-nova)
.s-cartoon-network
  sprite($s-cartoon-network)
.s-chef-tv
  sprite($s-chef-tv)
.s-cinemax
  sprite($s-cinemax)
.s-climatempo
  sprite($s-climatempo)
.s-cnn-en-espanol
  sprite($s-cnn-en-espanol)
.s-cnn
  sprite($s-cnn)
.s-cnt
  sprite($s-cnt)
.s-combate
  sprite($s-combate)
.s-comedy-central
  sprite($s-comedy-central)
.s-curta
  sprite($s-curta)
.s-discovery-channel
  sprite($s-discovery-channel)
.s-discovery-civilization
  sprite($s-discovery-civilization)
.s-discovery-kids
  sprite($s-discovery-kids)
.s-discovery-science
  sprite($s-discovery-science)
.s-discovery-theater
  sprite($s-discovery-theater)
.s-discovery-turbo
  sprite($s-discovery-turbo)
.s-disney-channel
  sprite($s-disney-channel)
.s-disney-jr
  sprite($s-disney-jr)
.s-disney-xd
  sprite($s-disney-xd)
.s-dw
  sprite($s-dw)
.s-e
  sprite($s-e)
.s-espn-brasil
  sprite($s-espn-brasil)
.s-espn-plus
  sprite($s-espn-plus)
.s-espn
  sprite($s-espn)
.s-esporte-interativo-nordeste
  sprite($s-esporte-interativo-nordeste)
.s-esporte-interativo
  sprite($s-esporte-interativo)
.s-fox-hd
  sprite($s-fox-hd)
.s-fox-life
  sprite($s-fox-life)
.s-fox-sports-2
  sprite($s-fox-sports-2)
.s-fox-sports
  sprite($s-fox-sports)
.s-futura
  sprite($s-futura)
.s-fx
  sprite($s-fx)
.s-glitz
  sprite($s-glitz)
.s-globo-news
  sprite($s-globo-news)
.s-globo
  sprite($s-globo)
.s-globosat
  sprite($s-globosat)
.s-gloob
  sprite($s-gloob)
.s-gnt
  sprite($s-gnt)
.s-hbo
  sprite($s-hbo)
.s-history-channel-2
  sprite($s-history-channel-2)
.s-history-channel
  sprite($s-history-channel)
.s-home-health
  sprite($s-home-health)
.s-id
  sprite($s-id)
.s-ideal-tv
  sprite($s-ideal-tv)
.s-isat
  sprite($s-isat)
.s-lifetime
  sprite($s-lifetime)
.s-megapix
  sprite($s-megapix)
.s-mix-tv
  sprite($s-mix-tv)
.s-mtv
  sprite($s-mtv)
.s-multishow
  sprite($s-multishow)
.s-nat-geo-wild
  sprite($s-nat-geo-wild)
.s-national-geographic-channel
  sprite($s-national-geographic-channel)
.s-nbr
  sprite($s-nbr)
.s-nick-jr
  sprite($s-nick-jr)
.s-nick
  sprite($s-nick)
.s-off
  sprite($s-off)
.s-paramount
  sprite($s-paramount)
.s-play-tv
  sprite($s-play-tv)
.s-playboy-tv
  sprite($s-playboy-tv)
.s-polishop
  sprite($s-polishop)
.s-premiere
  sprite($s-premiere)
.s-rbi-tv
  sprite($s-rbi-tv)
.s-record-news
  sprite($s-record-news)
.s-record
  sprite($s-record)
.s-rede-brasil
  sprite($s-rede-brasil)
.s-rede-genesis
  sprite($s-rede-genesis)
.s-rede-super
  sprite($s-rede-super)
.s-rede-tv
  sprite($s-rede-tv)
.s-rede-vida
  sprite($s-rede-vida)
.s-rit
  sprite($s-rit)
.s-rtp
  sprite($s-rtp)
.s-sbt
  sprite($s-sbt)
.s-sesc-tv
  sprite($s-sesc-tv)
.s-sexprive
  sprite($s-sexprive)
.s-sexyhot
  sprite($s-sexyhot)
.s-shoptime
  sprite($s-shoptime)
.s-sony
  sprite($s-sony)
.s-space
  sprite($s-space)
.s-sportv
  sprite($s-sportv)
.s-sportv2
  sprite($s-sportv2)
.s-sportv3
  sprite($s-sportv3)
.s-studio-universal
  sprite($s-studio-universal)
.s-syfy
  sprite($s-syfy)
.s-tbs
  sprite($s-tbs)
.s-tcm
  sprite($s-tcm)
.s-telecine
  sprite($s-telecine)
.s-terra-viva
  sprite($s-terra-viva)
.s-tlc
  sprite($s-tlc)
.s-tnt
  sprite($s-tnt)
.s-tooncast
  sprite($s-tooncast)
.s-tru-tv
  sprite($s-tru-tv)
.s-tv-brasil
  sprite($s-tv-brasil)
.s-tv-camara
  sprite($s-tv-camara)
.s-tv-cultura
  sprite($s-tv-cultura)
.s-tv-diario
  sprite($s-tv-diario)
.s-tv-escola
  sprite($s-tv-escola)
.s-tv-justica
  sprite($s-tv-justica)
.s-tv-novo-tempo
  sprite($s-tv-novo-tempo)
.s-tv-ra-tim-bum
  sprite($s-tv-ra-tim-bum)
.s-tv-senado
  sprite($s-tv-senado)
.s-tv5-monde
  sprite($s-tv5-monde)
.s-tve
  sprite($s-tve)
.s-universal-channel
  sprite($s-universal-channel)
.s-vh1-mega-hits
  sprite($s-vh1-mega-hits)
.s-warner
  sprite($s-warner)
.s-woohoo
  sprite($s-woohoo)


