include ../_partials/head.jade
include ../_partials/hero.jade
include ../_partials/header.jade
include ../_partials/_cards/_cards.jade
include ../_partials/_content/_content.jade

+head('fixo')

body(itemtype="http://schema.org/WebPage")

  header
    include ../_partials/build-plan.jade
    include ../_partials/menu.jade
    +hero()
    +header({title: 'Fixo'})

  main
    .content
      .content_header_container
        
        +contentHeader({
          title: 'Escolha seu plano',
          action: 'Compre agora'
        })
      
      .content_table_container
        .content_table
          .table-compare_container
            table.table-compare
              caption Compare os planos de telefonia fixa
              thead
                tr
                  td
                  th Ligações locais para Fixo da Oi 
                  th Ligações locais para fixo de outras operadoras
                  th Ligações DDD para qualquer fixo
              tbody
                tr
                  td.opt
                    include /assets/images/icons/radio-check.svg
                    span.promo Mais vendido
                    oi-price#price-fixo-regular
                  td
                    span.tag Ilimitado
                  td
                    span.tag Ilimitado
                  td
                    span.tag Ilimitado
                tr
                  td.opt
                    include /assets/images/icons/radio-check.svg
                    oi-price#price-fixo-ddd
                  td
                    span.tag Ilimitado
                  td
                    span.bold 1.000 min
                  td
                    span.bold -


      .content_addons_container
        .content_addons
          .addons_title
            |Turbine 
            br
            | seu plano
          .addons_list
            ul
              li.addons_item
                .addons_item_img.img1
                h4.addons_item_title Voz Total [Fixo + pré]
                p.addons_item_desc Chip pré com ligações ilimitadas para fixo e celular, internet, torpedos e Oi WiFi.
                .addons_item_actions
                  button.add
                    span.call Adicione
                    span.price a partir de R$10
                  button.rem Remover
              li.addons_item
                .addons_item_img.img2
                h4.addons_item_title Ligações para Celular da Oi
                p.addons_item_desc Adicione minutos locais ilimitados do seu fixo para Celular Oi.
                .addons_item_actions
                  button.add
                    span.call Adicione
                    spa.pricen R$5
                  button.rem Remover
              li.addons_item
                .addons_item_img.img3
                h4.addons_item_title Banda Larga da Oi
                p.addons_item_desc Modem incluído + Oi WiFi. Escolha uma velocidade:
                .addons_item_actions
                  button.add.add-1-3
                    span.call 2 mega
                    span.price R$49,90
                  button.add.add-1-3
                    span.call 10 mega
                    span.price R$59,90
                  button.add.add-1-3
                    span.call 15 mega
                    span.price R$69,90
                  button.rem Remover

  include ../_partials/footer.jade

  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)
