include ../_partials/head.jade
include ../_partials/hero.jade
include ../_partials/header.jade
include ../_partials/_cards/_cards.jade
include ../_partials/_content/_content.jade

+head('fixo')

body(itemtype="http://schema.org/WebPage")

  header
    include ../_partials/build-plan.jade
    include ../_partials/menu.jade
    +hero()
    +header({title: 'Fixo'})

  main
    .content
      .content_header_container
        
        +contentHeader({
          title: 'Escolha seu plano',
          action: 'Compre agora'
        })
      
      .content_table_container
        .content_table_header
          ul
            each group in [0,1,2]
              li.content_table_header_item
                h4 group #{group}
        .content_table
          include /views/fixo/_table.jade
    

  include ../_partials/footer.jade

  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)
