mixin modal(data)
  .modal(aria-hidden="false" role="dialog" aria-labelledby="modal-title")
    button.modal-close fechar
    .modal-container
      .col-info
        #modal-title Informações sobre o canal warner 
        .logo
          div(style='background-image:url("/assets/images/demo/logo-warner-white.png")')
        .desc
          h3.name Warner Channel HD
          .channel Canal 64
          .info Aqui você encontra todos os maiores sucessos produzidos pelos estúdios da Warner Bros. Dos filmes mais consagrados às séries mais populares. Diversão Garantida para a família.
      .col-img(style='background-image:url("/assets/images/demo/modal-tv.jpg");')
