table-internet-banda-larga

  .oi-banda-larga_table_heading
    table
      caption Compare os planos de banda larga
      thead
        tr
          th
      tbody
        tr(each!="{ plan, idx in plans }", onclick="{ parent.select }", onmouseover="{ parent.hover }", data-idx="{ idx }")
          td
            span.promo(if="{plan.best_seller}") Mais vendido
            fieldset.price-fieldset.checkbox
              input(id="{ plan.slug }", type="radio", name="oi-internet-banda-larga-plan")
              oi-price(price="{ plan.price.loyal }", small="{ true }")

  .oi-banda-larga_table_scroll
    table
      thead
        tr
          th(each="{ label, idx in labels }", onclick="{ parent.select }")
            | {label.label}
            span.hashtag(if="{ label.extra }") {label.extra}
            
      tbody
        tr(each!="{ plan, idx in plans }", onclick="{ parent.select }", onmouseover="{ parent.hover }", data-idx="{ idx }")
          td(id="{ plan.slug }"): strong {plan.features.speed}
          td
            i.icon_check
              | { if plan.features.modem[0] }
              include /assets/images/icons/check.svg
              | { endif }
              small(if="{plan.features.modem[1]}") { plan.features.modem[1] }
          td
            i.icon_check
              | { if plan.features.wifi }
              include /assets/images/icons/check.svg
              | { endif }

  script.
    var self = this;
    self.plans = opts.plans;
    self.labels = opts.labels;

    self.select = function(e){
      console.log(e);
    };

    self.hover = function(e){
      var idx = e.currentTarget.getAttribute('data-idx');
      $('table-internet-banda-larga table tr').removeClass('hover');
      $('table-internet-banda-larga table tr[data-idx="'+idx+'"]').addClass('hover');
    };


//- <table-compare>
//-   <table class="table-compare">
//-     <caption>Compare os planos de telefonia fixa</caption>
//-     <thead>
//-       <tr>
//-         <td></td>
//-         <td each={ id, label in labels }>{ label }</td>
//-       </tr>
//-     </thead>
//-     <tbody>
//-     <tr each={ plan, id2 in plans } onclick={ parent.select } class={ selected: plan.selected } >
//-       <td class="opt">
//-         <span class="promo" if={ plan.best_seller }>Mais vendido</span>
//-         <input type="radio" name="plan-select" class="radio" checked={ plan.selected }>
//-         <oi-price price={ parent.plans[id2].price.loyal } small={ true } />
//-       </td>
//-       <td each={ idF, labelF in plan.features }>
//-         <span class="tag" if={ labelF.tag }>{ labelF.text }</span>
//-         <span class="bold" if={ !labelF.tag }>{ labelF.text }</span>
//-       </td>
//-     </tr>
//-   </tbody>
//- </table>

//-   <script>
//-     var self = this;
//-     self.plans = opts.plans;
//-     self.labels = opts.labels;

//-     select(event){
//-       var item = event.item
//-       _.forEach(self.plans, function (plan){
//-         plan.selected = false
//-       });
//-       item.plan.selected = true;
//-       self.update();
//-     }
//-   </script>

//- </table-compare>
