.cards
  .cards_container
    .cards_container--bg
      each val, index in ['start', 'mix', 'total']
        oi-card
          a(href="#" data-slug=val class="oi-card "+ (val == 'mix' ? 'active': '') )
            .oi-card_header
              h2.oi-card_title=val+ ' HD'
              ul.oi-card_subtitle
                li 119 Canais
                li 20 HD
            .oi-card_main
              .oi-card_main_price
                oi-price(id="card-price-"+val)
              .oi-card_list
                h5.oi-card_list_title Você ainda pode adicionar
                ul.oi-card_list_items
                  li 1 Ponto Adicional
                  li HBO, Telecine, Premiere e mais
            .oi-card_footer
              button.oi-card_action Conheça o Start HD
