.oi-channels_footer-banner
  .oi-channels_footer-banner--small.b-lazy(style="background-position: 70px 100px;background-image:url(/assets/images/demo/oi-channels_footer-banner.jpg);")
  .oi-channels_footer-banner--large.b-lazy(style="background-position: 830px 40px;background-image:url(/assets/images/demo/oi-channels_footer-banner.jpg);")
