.oi-channels_footer-banner
  .oi-channels_footer-banner--small.b-lazy(data-src="/assets/images/demo/oi-channels_footer-banner.jpg" style="background-position: 70px 100px;")
  .oi-channels_footer-banner--large.b-lazy(data-src="/assets/images/demo/oi-channels_footer-banner.jpg" style="background-position: 830px 40px;")
