.oi-channels
  .oi-channels_container#channel-info
    .oi-channels_lists-container
      include _channel-lists.jade
      include _channel-addons.jade 
              
    channel-search

    include _channel-footer-banner.jade
    include _channel-footer-item.jade 
    include _channel-footer-faq.jade
