nav.oi-channels_footer_faq-menu
  ul
    li.faq-menu_icon
      a(href="#") 
        include ../../assets/images/icons/tv.svg
        span Já é cliente Oi TV HD?
    li
      a(href="#") 2ª via
    li
      a(href="#") Altere seu plano
    li
      a(href="#") Entenda a sua conta
    li
      a(href="#") Fatura Atrasada
    li
      a(href="#") Sem sinal na TV
    li
      a(href="#") TV Bloqueada
    li
      a(href="#") Perguntas frequentes
