include ../_partials/head.jade

//- body(onload="measureCRP()" itemtype="http://schema.org/WebPage")
body

  header
    include ../_partials/build-plan.jade
    include ../_partials/menu.jade

    include ../_partials/hero.jade
    +heroTVHD()

    include ../_partials/header.jade
    +headerTVHD()

  main
    include _cards.jade
    include _content.jade

  include ../_partials/footer.jade

  channel-modal
  contract-rules
  movie-rent
  
  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)
