.cards
  width 100%
  // padding 0 remify(10px)
  position relative
  z-index 1

  &.is-tabs
    .oi-card.active
      background-color $green
      border-width 0
      .oi-card_header
        background-color $green
        h2
          color $white
      .oi-card_subtitle
        color $white
      .oi-price
        color $white
      .oi-card_list
        color $white
      .oi-card_action
        background-color $green
        border-color $white
        color $white

  &_container
    overflow hidden
    margin-bottom remify(125px)
    +above('m')
      margin-bottom remify(195px)
    +above('l')
      max-width remify(1170px)
      margin 0 auto
      clear both
      margin-top remify(-127px)
      margin-bottom remify(195px)
    &--bg
      background-color $green
      overflow hidden

  oi-card
    width (100% / 3)
    float left
    & + oi-card .oi-card
      border-left 0
