.oi-channels
  &_lists-container
    max-width remify(1170px)
    margin 0 auto
    overflow hidden
    width 100%
    background-color $grayLighter

  &_header
    height remify(65px)
    padding remify(17px) remify(20px)
    background-color $white
    border-bottom remify(1px) solid $grayLight
    position relative
    max-width remify(1170px)
    margin 0 auto
    z-index 2
    +above('m')
      padding remify(50px) remify(40px)
      height remify(130px)
    +above('l')
      padding remify(50px) remify(40px)
      border-bottom remify(1px) solid $black
    +above(1230px)
      padding remify(50px) 0


    &_list
      display none
      float left
      font-family $fontTitle
      font-size remify(42px)
      text-transform uppercase
      position relative
      z-index 1
      height remify(58px)
      width s("calc(100% - " + remify(140px + 100px + 200px) + ")")
      padding-right remify(30px)
      +above('m')
        display block
        margin-top remify(-12px)

      ul
        display block
        height remify(70px)
        overflow hidden
        white-space nowrap

      li
        // display none
        display inline-block
        opacity 0
        transition all 0.5s ease
        &.visible
          opacity 1

        &:first-child:before
          display none
        &:last-child
          +above('m')
            display none
          +above('l')
            display inline-block
        &:before
          content '+'
          color $grayLight
          // display inline-block
          // width remify(12px)
          // height remify(12px)
          // border-radius remify(6px)
          // background-color $grayLight
          // transform translateY(remify(-7px))
          // margin 0 remify(7px) 0 0


    &_client-type
      font-family $fontTextRegular
      width remify(140px)
      float left
      height remify(58px)
      margin-top remify(-12px)
      padding remify(12px) 0
      a.oi-channels_header_client-type-trigger
        color $green
        text-decoration none
        font-size remify(13px)
        height remify(30px)
        display block
        span
          height remify(15px)
          lineheight remify(15px)
          display block
        svg
          display inline-block
          width remify(9px)
          margin-left remify(5px)
          & + span
            display inline-block
        path
          fill $green

      &_dropdow
        background-color $white
        border remify(1px) solid $gray
        border-radius remify(5px)
        display none
        font-family $fontTextRegular
        left remify(15px)
        position absolute
        top remify(55px)
        width s("calc(100% - 30px)")
        max-width remify(465px)
        &.open
          display block
        +above('m')
          top remify(104px)
          // right 0
          right remify(191px)
          left auto
        +above('l')
          right remify(191px)
        +above('xl')
          right remify(151px)

        &:before
          background $white
          border 1px solid $gray
          border-radius remify(4px)
          border-width remify(1px)  0 0 remify(1px)
          content ''
          display block
          height remify(15px)
          left remify(126px)
          position: absolute
          top remify(-6px)
          transform rotate(45deg)
          width remify(15px)
          +above('m')
            left remify(328px)

        &:after
          background $white
          content ''
          display block
          height remify(15px)
          width remify(30px)
          left remify(120px)
          position: absolute
          top remify(0)
          +above('m')
            left remify(320px)

        ul
          display block

        li
          height remify(115px)
          border-bottom remify(1px) solid $grayLight
          padding 0 remify(5px)
          position relative
          +above('m')
            padding 0 remify(40px)

          &:last-child
            border-bottom none

        a
          font-size remify(16px)
          display block
          text-decoration none
          color $black

          & > span
            transition color 0.3s ease
            width s(" calc(100% - 140px)")
            display inline-block
            line-height remify(20px)
            position absolute
            top remify(30px)
            height remify(55px)
            & > div
              display table-cell
              vertical-align middle
              height remify(55px)

          &.active, &:hover, &:focus, &:active
            & > span
              color $green
            svg circle.icon-inner
              fill $green

          svg
            width remify(25px)
            transform translateY(remify(33px))
            margin 0 remify(5px) 0 0
            circle
              stroke $green
              &.icon-inner
                stroke $white
                fill $white
              &.icon-outer
                stroke $green

        oi-price
          right remify(20px)
          width remify(80px)
          display inline-block
          position absolute
          top remify(38px)
          +above('m')
            right remify(40px)

    &_price
      width remify(100px)
      float right
      height remify(58px)
      transform translateY(remify(-5px))
      margin remify(-7px) 0
      padding remify(10px) 0
      +above('m')
        float left

    &_action
      height remify(58px)
      display none
      float left
      font-family $fontTextRegular
      margin remify(-12px) 0 0 0
      width remify(170px)
      +above('m')
        display block

      a
        color $black
        display block
        text-decoration none
        background-color $orangeLight
        border-bottom remify(2px) solid $orange
        border-radius remify(2px)
        font-size remify(16px)
        height remify(50px)
        line-height remify(50px)
        margin-left remify(30px)
        margin-top remify(4px)
        text-align center
        width remify(170px)
        &:hover
          border-bottom remify(2px) solid $orangeLight
