.oi-channels
  &_lists-container
    max-width remify(1170px)
    margin 0 auto
    overflow hidden
    width 100%
    background-color $grayLighter

.oi-channels-lists
  background-color $white
  font-family $fontTextRegular
  +above('l')
    width 76.923076923%
    float left
    padding-bottom remify(120px)

  &_list-tv
    height remify(150px)
    padding remify(25px) 0 0 remify(15px)
    +above('m')
      padding remify(45px) 0 0 remify(30px)
      height remify(195px)
    +above('l')
      padding 0
      height auto
      width (100% / 6)
      float left
      position: relative;

    &_title
      font-size remify(13px)
      height remify(15px)
      margin-bottom remify(15px)
      transition-property height, line-height
      transition-duration 610ms
      +above('m')
        font-size remify(16px)
        height remify(20px)
      +above('l')
        background-color: white
        height remify(70px)
        line-height remify(70px)
        border-bottom remify(1px) solid $grayLight
        text-align center
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;

      span
        display inline
        +above('l')
          display none

    &_container
      border-bottom remify(1px) dashed $grayLight
      height remify(97px)
      overflow scroll
      +above('m')
        height remify(115px)
      +above('l')
        overflow auto
        height auto
        border-bottom none
        width remify(95px)
        margin 0 auto
        position: relative;
        top: remify(70px);

      ul
        display block
        width 2000px
        +above('l')
          width auto

      li
        display block
        height remify(85px)
        width remify(85px)
        float left
        text-align center
        +above('m')
          height remify(95px)
          width remify(95px)
        +above('l')
          float none
          margin 0 auto remify(30px) 0
      a
        border remify(1px) 1px solid $white
        display block
        height remify(85px)
        width remify(85px)
        text-decoration none
        color $gray
        +above('m')
          height remify(95px)
          width remify(95px)
        &:hover, &.active
          border remify(1px) 1px solid $purple
          color $purple

    &_logo
      background-repeat no-repeat
      background-position center
      width 100%
      height remify(60px)
      background-size remify(45px) auto
      position relative
      +above('m')
        height remify(70px)
        background-size remify(45px) auto

    &_name
      height remify(25px)
      line-height remify(12px)
      font-size remify(10px)
      display table-cell
      vertical-align middle
      +above('m')
        font-size remify(11px)
      div
        width remify(85px)


  &_list-audio
    height remify(170px)
    padding remify(25px) 0 0 remify(15px)
    +above('m')
      padding remify(45px) 0 0 remify(30px)
      height remify(170px)
    +above('l')
      clear both
      padding remify(50px) remify(30px) 0 remify(30px)
      height auto

    &.open
      height auto
      .oi-channels-lists_list-audio_container
        height auto
      .oi-channels-lists_list-audio_container ul
        height auto
        padding-bottom remify(20px)

    &:last-child
      .oi-channels-lists_list-audio_container
        border-bottom none

    &_title
      font-size remify(13px)
      height remify(15px)
      margin-bottom remify(15px)
      +above('m')
        font-size remify(16px)
        height remify(20px)
      span
        display inline

    &_container
      border-bottom remify(1px) dashed $grayLight
      height remify(114px)
      +above('l')
        height auto
        border-bottom none
        overflow auto


      ul
        display block
        height remify(65px)
        overflow hidden
        padding 0 remify(15px)
        margin-left remify(-15px)
        +above('l')
          padding 0
          margin-left 0
          width remify(1800px)
          width auto
          height auto

      li
        display inline-block
        font-size remify(13px)
        line-height remify(20px)
        color $gray
        +above('m')
          font-size remify(16px)
        +above('l')
          font-size remify(13px)
          color $black
        &:after
          content ","
        &:last-child
          &:after
            content "."

      button
        font-size remify(13px)
        background-color transparent
        color $green
        border none
        padding 0
        cursor pointer
        +above('m')
          display none
