.oi-channels_search-call
  max-width remify(1170px)
  margin 0 auto
  a
    color $green
    display block
    font-family $fontTextRegular
    font-size remify(13px)
    height remify(85px)
    line-height remify(85px)
    text-decoration none
    padding 0 remify(20px)
    border-bottom remify(1.2px) solid $grayLight
    +above('m')
      border-bottom none
    +above('l')
      font-size remify(16px)
      border-top remify(1.2px) solid $black
      
    svg
      display inline-block
      height remify(11px)
      width remify(11px)
      path
        fill $green
        
    &:hover 
      color $purple
      svg
        fill $purple
