.content
  display block
  width 100%
  margin 0 auto
  overflow hidden
  position relative
  z-index 1
  +above('m')
    top: 25vh
    border remify(10px) solid transparent
    border-top 0

  &_header_container
    position absolute
    top 0
    left 0
    width: 100%
    background $white
    z-index: 1

  &_table_container
    position relative
    background $white
    +above('m')
      top remify(130px)

.content.lock
  .content_header_container
    +above('m')
      position: fixed
      top: remify(74px)
      left: 0
      width: 100%
      border-left: remify(10px) solid transparent
      border-right: remify(10px) solid transparent
  .content_table_header
    +above('m')
      position: fixed
      top: remify(74px + 130px)

.content.fold
  .content_header_container
    +above('m')
      transition-property: transform
      transition-duration: 610ms
      transform: translateY(remify(-64px));

  .content_header
    +above('m')
      padding remify(28px) remify(30px)
      height remify(90px)
    +above('l')
      padding remify(28px) 0
      height remify(90px)

  .content_table_header
    +above('m')
      transform: translateY(remify(-104px));
    ul li
      +above('m')
        height remify(48px)
        line-height remify(48px)
