body
  +above('m')
    &.white-background
      background-color white
body >header
    position relative
    min-height remify(370px)
    height 100vh
    max-height remify(768px)
    margin-bottom -($cardSizeMobile)
    +above('m')
      margin-bottom remify(-64px)
