.oi-channels
  // background-color $green
  display block
  width 100%
  margin 0 auto
  overflow hidden
  position relative
  z-index 2
  +above('m')
    border remify(10px) solid transparent
    border-top 0
    // padding remify(10px)
    // &.nopad
    //   padding-left 0
    //   padding-right 0
    //   padding-top 0

  &_container
    background $white
    position relative
    z-index 2
    &#channel-info
      z-index 1
