@require "main"

.docs-menu
  column(.3)
  background $green
  color $white
  height 100%
  padding 2rem 0
  min-height 100vh

  h2
    @extend $title-small
    padding 1rem

  h3
    @extend $title-tiny
    display block
    padding 1rem

  a
    color $white
    display block
    text-decoration none
    padding 1rem
    h3
      padding 0
    &:hover
      background $greenLight



.docs-content
  column(.7)
  padding 2rem 0

  h1
    @extend $title-small
    color $green
    padding 1rem 0
    margin-bottom 2rem

  h2
    @extend $title-tiny
    margin 2rem 0 1rem 0

  h3
    @extend $title-eyebrow
    margin 2rem 0 1rem 0

  p
    margin-bottom .5rem

  hr
    border 0
    width 90%
    border-bottom 1px solid $green
    margin 2rem auto

  table
    width 100%
    th
      background-color $grayLight
      padding .5rem
    td
      border-bottom 1px solid $grayLight
      border-right 1px solid $grayLight
      padding .5rem

$linesBg
  background-color #fff
  background-image linear-gradient(#eee remify(1px), transparent remify(1px))
  background-size 100% remify(10px)

.example
  border 1px solid $grayLight
  overflow hidden
  padding 1rem

  .column
    column(1/3)

  &.typography
    @extend $linesBg
    .titleA
      @extend $title-huge
      color red
    .titleB
      @extend $title-big
    .titleC
      @extend $title-medium
    .titleD
      @extend $title-small
    .titleE
      @extend $title-tiny
    .titleF
      @extend $title-eyebrow

    .headlineA
      @extend $headline-big
    .headlineB
      @extend $headline-regular
    .headlineC
      @extend $headline-small

    .textA
      @extend $text-big
    .textB
      @extend $text-regular
    .textC
      @extend $text-small

    .textExample1
      @extend $text-regular
      column(1/4)
    .textExample2
      @extend $text-regular
      @extend $line-height-big
      column(1/4)
