@import "kouto-swiss"
@import "config/_variables.styl"
@import 'jeet'
@import 'config/_mixins.styl'

// Reset & box-sizing
meyer-reset()
box-sizing-reset()

// CSS Base
@import "css-base/_colors"
@import "css-base/_base"
@import "css-base/_grid"
@import "css-base/_typography"
// @import "css-base/_icon-font"
// @import "css-base/_icons"
@import "css-base/_buttons"

// Components
@import "components/_build-plan.styl"
@import "components/_menu.styl"
@import "components/_header.styl"
@import "components/_hero.styl"
@import "components/_price.styl"
@import "components/_card.styl"
@import "components/_footer.styl"
@import "components/_sprite-logos.styl"
@import "components/_modal.styl"
@import "components/_channel-info.styl"
@import "components/_channel-search.styl"
@import "components/_contract-rules.styl"

// Pages
@import "pages/_product.styl"
// @import "pages/_minha-oi.styl"
