

input[type="checkbox"]
  position: relative
  top: 0
  left: 0
  border: none
  width: 100%
  height: $formPaddingVertical*1.34
  &:hover
    &:before
      border-color: $purple
  &:before
    content: " "
    position: absolute
    top: 0
    left: 0
    display: block
    width: $formPaddingVertical*1.34
    height: $formPaddingVertical*1.34
    border: 0.08rem solid $grayLight
    background-color: $white
    border-radius 0.125rem

  &:after
    content: " "
    position: absolute
    top: 0.08rem
    left: 0.08rem
    display: block
    width: $formPaddingVertical*1.34
    height: $formPaddingVertical*1.34
    background-color: $purple
    border-radius 0.125rem

  &:checked::after
    animation: kf-checkbox-on 0.21s ease
    animation-fill-mode: forwards

  &:not(:checked)
    &:after
      animation: kf-checkbox-off 0.21s ease

      animation-fill-mode: forwards

