imageEndpoint = "/assets/images/icons/";

@keyframes kf-checkbox-on {
  0% { transform: scale(0.08) }
  100% { transform: scale(0.66) }
}
@keyframes kf-checkbox-off {
  0% {
    transform: scale(0.66);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


@keyframes kf-radio-on {
  0% {
    top: 0.78125rem // 12.5px
    left: 0.78125rem // 12.5px
    width: 0rem // 0px
    height: 0rem // 0px
  }
  100% {
    top: 0.3125rem // 5px
    left: 0.3125rem // 5px
    width: 0.9375rem // 15px
    height: 0.9375rem // 15px
  }
}

@keyframes kf-radio-off {
  0% {
    top: 0.3125rem // 5px
    left: 0.3125rem // 5px
    width: 0.9375rem // 15px
    height: 0.9375rem // 15px
  }
  100% {
    top: 0.78125rem // 12.5px
    left: 0.78125rem // 12.5px
    width: 0rem // 0px
    height: 0rem // 0px
  }
}



@keyframes kf-placeholder-on {
  0% {
    top: $formPaddingVertical + (sizeEyebrow/4);
    transform: scale(1);
  }
  100% {
    top: sizeEyebrow*0.92;
    transform: scale(0.66);
  }
}
@keyframes kf-placeholder-off {
  0% {
    top: sizeEyebrow*0.92;
    transform: scale(0.66);
  }
  100% {
    top: $formPaddingVertical + (sizeEyebrow/4);
    transform: scale(1);
  }
}

@keyframes kf-input-on {
  0% { top: 0; }
  100% { top: 0.875rem; }
}
@keyframes kf-input-off {
  0% { top: 0.875rem; }
  100% { top: 0; }
}

borderSide(side, color)
    border-{side}-color: color

roundBorderSide(side, value)
  border-{side}-radius: value;

roundBorderAll(value)
    roundBorderSide(top-left, value)
    roundBorderSide(top-right, value)
    roundBorderSide(bottom-left, value)
    roundBorderSide(bottom-right, value)

borderAll(color)
    borderSide(top, color)
    borderSide(right, color)
    borderSide(bottom, color)
    borderSide(left, color)

hideText()
  font-size: 1px
  text-indent: 333%
  overflow: hidden
  white-space: nowrap

filledBase()
  label
    top: 0.78125rem // 12.5px
    left: 0.78125rem // 12.5px


.field-box
  position: relative
  display: block
  min-height: 3.125rem + 1.25rem
  padding: $formPaddingVertical
  color: colorBlack
  border-collapse: collapse
  border-spacing: 0
  border-width: 0.08rem
  border-style: solid
  border-color: transparent

  borderSide(top, colorLightGray)
  borderSide(left, colorLightGray)
  &:last-child
    borderSide(top, colorLightGray)
    borderSide(right, colorLightGray)

  &.round-top-left
    roundBorderSide(top-left, borderRoundSize)
  &.round-top-right
    roundBorderSide(top-right, borderRoundSize)
  &.round-bottom-left
    roundBorderSide(bottom-left, borderRoundSize)
  &.round-bottom-right
    roundBorderSide(bottom-right, borderRoundSize)
  &.round-all
    border-radius: borderRoundSize

  &:hover
    borderAll(colorMagenta)

  &.clear-border
    border-color: transparent

  label
    position: absolute
    pointer-events: none
    z-index: 9
    top: 1.6875rem // 30px
    left: 1.25rem // 20px
    font-size: 1rem
    line-height: 1rem
    color: colorGray
    font-size: sizeEyebrow
    line-height: sizeEyebrow
    transform-origin: top left

  &.last-line
    borderSide(bottom, colorLightGray)
    &:hover
      borderAll(colorMagenta)

  &.filling
    borderAll(colorMagenta);
    label
      animation: kf-placeholder-on 0.21s ease
      animation-fill-mode: forwards

  &.filling-off
    label
      animation: kf-placeholder-off 0.21s ease
      animation-fill-mode: forwards

  &.filled
    filledBase()

  &.success
    filledBase()
    label
      &:after
        position: absolute
        content: " "
        display: inline-block
        width: 1rem
        height: 1rem
        top: -0.1rem
        right: -1.34rem
        background-image: url(imageEndpoint+'success.svg')
        svg path
          fill colorAlertRed

  &.error
    filledBase()
    borderAll(colorAlertRed)
    label
      color: colorAlertRed
      &:after
        position: absolute
        content: " "
        display: inline-block
        width: 1rem
        height: 1rem
        top: -0.1rem
        right: -1rem
        background-image: url(imageEndpoint+'error.svg')

  &.radio
    label
      top: $formPaddingVertical*1.34
      padding-left: $formPaddingHorizontal

  &.checkbox
    label
      top: $formPaddingVertical*1.34
      padding-left: $formPaddingHorizontal

  &.text
  &.last-line
    &.filling
      borderAll(colorMagenta)
    &.error
      borderAll(colorAlertRed)

  &.filling
    input
      animation: kf-input-on 0.21s ease
      animation-fill-mode: forwards

  &.filling-off
    input
      animation: kf-input-off 0.21s ease
      animation-fill-mode: forwards

  &.filled, &.success, &.error
    input
      top: sizeEyebrow*0.89

  // &.search

@require "_input.styl";
@require "_checkbox.styl";
@require "_radio.styl";
// @require "_search.styl";
// @require "_select.styl";


