oi-buildplan
  a.build-plan(href="/combo/" itemscope itemtype="http://schema.org/Offer" role="banner")
    
    span.build-plan_text(itemprop="name") Combo com TV por R$ 109,90

    ul.build-plan_icons
      li
        div: include ../../assets/images/icons/tv-s.svg
        div: include ../../assets/images/icons/tv.svg
      li
        div: include ../../assets/images/icons/internet-s.svg
        div: include ../../assets/images/icons/internet.svg
      li
        div: include ../../assets/images/icons/fixo-s.svg
        div: include ../../assets/images/icons/fixo.svg
      li
        div: include ../../assets/images/icons/celular-s.svg
        div: include ../../assets/images/icons/celular.svg
    div.build-plan_action
      span Simule
      span Simule seu combo
