include ../_mixins/_all.jade
include ../_components/_all.jade
doctype html
html.no-js(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Produtos
    meta(name='description', content='Grid')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script
      include ../../assets/scripts/_load-css.js

    noscript
      link(rel='stylesheet', href='/assets/styles/fonts.css')
    
    link(rel='stylesheet', href='/assets/styles/main.css')

  body
    //if IE
      .browsehappy
        p
          | You are using an
          strong outdated
          |  browser. Please
          a(href='http://browsehappy.com/', target='_blank') upgrade your browser
          |  to improve your experience.
    //if lt IE 9
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
      script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    // [if gt IE 8] <!
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    //- script.
      //- window.jQuery || document.write('<script src="js/vendor/jquery-2.1.3.min.js"><\\/script>')
    // <![endif]
