include ../_mixins/_all.jade
include ../_components/_all.jade
doctype html
html.no-js(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Produtos
    meta(name='description', content='Grid')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script
      include ../../assets/scripts/_load-css.js

    noscript
      link(rel='stylesheet', href='/assets/styles/fonts.css')
    
    link(rel='stylesheet', href='/assets/styles/main.css')

  body
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('test')</script>
    <![endif]-->
