mixin hero(data)
  oi-hero
    .oi-hero
      .oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")

      //-   .caption-container
      //-     .caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
      //-       .caption-name Meu Malvado favorito
      //-       .caption-time Domingo às 20:30



