mixin heroTVHD()
	oi-hero
		.oi-hero.hr1
			.oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")
				.oi-hero_container
					.oi-hero_caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
						.oi-hero_caption-name Meu Malvado favorito
						.oi-hero_caption-time Domingo às 20:30
		.oi-hero.hr2
			.oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")
				.oi-hero_container
					.oi-hero_caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
						.oi-hero_caption-name Meu Malvado favorito2
						.oi-hero_caption-time Domingo às 20:30
		.oi-hero.hr3
			.oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")
				.oi-hero_container
					.oi-hero_caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
						.oi-hero_caption-name Meu Malvado favorito3
						.oi-hero_caption-time Domingo às 20:30

mixin heroFixo()
	oi-hero
		.oi-hero

mixin hero()
  oi-hero
    .oi-hero
      .oi-hero_image()
