oi-hero
	.oi-hero
		.oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")
			.oi-hero_container
				.oi-hero_caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
					.oi-hero_caption-name Meu Malvado favorito
					.oi-hero_caption-time Domingo às 20:30
	.oi-hero
		.oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")
			.oi-hero_container
				.oi-hero_caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
					.oi-hero_caption-name Meu Malvado favorito2
					.oi-hero_caption-time Domingo às 20:30
	.oi-hero
		.oi-hero_image.b-lazy(data-src="/assets/images/demo/product-hero.jpg")
			.oi-hero_container
				.oi-hero_caption(style="background-image:url(/assets/images/demo/telecine-white.png)")
					.oi-hero_caption-name Meu Malvado favorito3
					.oi-hero_caption-time Domingo às 20:30
