oi-menu
  nav(role="navigation" aria-label="Menu principal" tabindex="-1" itemscope itemtype="http://schema.org/SiteNavigationElement").oi-menu
    ul(role="menubar")
      li.oi-menu_home
        a(href="/" role="menuitem" tabindex="0" itemprop="url" content="/")
          include ../../assets/images/oi/oi-logo.svg
          span(itemprop="name") Oi
      li.oi-menu_products
        a(href="/produtos-servicos/" role="menuitem" tabindex="0" itemprop="url" content="/produtos-servicos/")
          span(itemprop="name")
            |Produtos 
            span e Serviços
      li.oi-menu_minha-oi
        a(href="/minha-oi/" role="menuitem" tabindex="0" itemprop="url" content="/minha-oi/")
          span(itemprop="name") Minha Oi 
      li.oi-menu_m
        a(href="/combo/" role="menuitem" tabindex="0" itemprop="url" content="/combo/")
          span(itemprop="name") Combo
      li.oi-menu_m
        a(href="/tv-hd/" role="menuitem" tabindex="0" itemprop="url" content="/tv-hd/")
          span(itemprop="name") TV HD
      li.oi-menu_m
        a(href="/internet/" role="menuitem" tabindex="0" itemprop="url" content="/internet/")
          span(itemprop="name") Internet
      li.oi-menu_m
        a(href="/fixo/" role="menuitem" tabindex="0" itemprop="url" content="/fixo/")
          span(itemprop="name") Fixo
      li.oi-menu_m
        a(href="/celular/" role="menuitem" tabindex="0" itemprop="url" content="/celular/")
          span(itemprop="name") Celular
      li.oi-menu_search
        a(href="/busca/" role="menuitem" tabindex="0" itemprop="url" content="/busca/")
          include ../../assets/images/icons/lupa-thin.svg
          span(itemprop="name") Busca
      li.oi-menu_minha-oi-m
        a(href="/minha-oi/" role="menuitem" tabindex="0" itemprop="url" content="/minha-oi/")
          span(itemprop="name") Minha Oi
