include ./_partials/header.jade

body
    section.container

      include ./_partials/menu.jade

      article.content-doc

        h1.title.medium Cores

        p Utilização de cores padrão nos textos e fundos

        h2.title.tiny Textos

        .example.color
          .text-black .text-black
          .text-gray .text-gray
          .text-grayLight .text-grayLight
          .text-grayLighter .text-grayLighter
          .text-green .text-green
          .text-greenLight .text-greenLight
          .text-purple .text-purple
          .text-purpleLight .text-purpleLight
          .text-orange .text-orange
          .text-orangeLight .text-orangeLight

        h2.title.tiny Fundos

        .example.color
          .bg-black.text-grayLighter .bg-black
          .bg-gray .bg-gray
          .bg-grayLight .bg-grayLight
          .bg-grayLighter .bg-grayLighter
          .bg-green .bg-green
          .bg-greenLight .bg-greenLight
          .bg-purple .bg-purple
          .bg-purpleLight .bg-purpleLight
          .bg-orange .bg-orange
          .bg-orangeLight .bg-orangeLight

        h2.title.tiny Gradientes

        .example.gradient
          .gradient-green .gradient-green
          .gradient-purple .gradient-purple
          .gradient-orange .gradient-orange


