include ./_partials/header.jade

body
  section.container

    include ./_partials/menu.jade

    article.content-doc

      h1.title.medium Ícones

      p Estilização de elementos

      h2.title.tiny Exemplos

      .example.icons

        ul
          li
            span.icon.icon-app-s .icon-app-s-aqua
          li
            span.icon.icon-app-s .icon-app-s
          li
            span.icon.icon-arrow .icon-arrow
          li
            span.icon.icon-banda-s .icon-banda-s
          li
            span.icon.icon-banda .icon-banda
          li
            span.icon.icon-celular-s .icon-celular-s
          li
            span.icon.icon-celular .icon-celular
          li
            span.icon.icon-email-s .icon-email-s
          li
            span.icon.icon-error .icon-error
          li
            span.icon.icon-fixo-s .icon-fixo-s
          li
            span.icon.icon-fixo .icon-fixo
          li
            span.icon.icon-internet-s .icon-internet-s
          li
            span.icon.icon-internet .icon-internet
          li
            span.icon.icon-ligacao-s .icon-ligacao-s
          li
            span.icon.icon-pin-s .icon-pin-s
          li
            span.icon.icon-success .icon-success
          li
            span.icon.icon-tv-s .icon-tv-s
          li
            span.icon.icon-tv .icon-tv
          li
            span.icon.icon-user-s .icon-user-s
          li
            span.icon.icon-via-s .icon-via-s

      h2.title.tiny Desenvolvimento
