include ./_partials/header.jade

body
  section.container

    include ./_partials/menu.jade

    article.content-doc

      h1.title.medium Ícones

      p Estilização de elementos

      h2.title.tiny Exemplos

      h2.title.tiny Desenvolvimento
