include ./_partials/header.jade

body
  section

    include ./_partials/menu.jade

    article.docs-content

      h1 Ícones

      p Para inserir ícones usamos uma fonte gerada a partir de SVGs

      h2.title.tiny Exemplos

      .example.icons

        ul
          li
            span.icons-svg.app-s
            span.icon.icon-app-s .icon-app-s-aqua
          li
            span.icons-svg.app-s
            span.icon.icon-app-s .icon-app-s
          li
            span.icons-svg.arrow
            span.icon.icon-arrow .icon-arrow
          li
            span.icons-svg.banda-s
            span.icon.icon-banda-s .icon-banda-s
          li
            span.icons-svg.banda
            span.icon.icon-banda .icon-banda
          li
            span.icons-svg.celular-s
            span.icon.icon-celular-s .icon-celular-s
          li
            span.icons-svg.celular
            span.icon.icon-celular .icon-celular
          li
            span.icons-svg.email-s
            span.icon.icon-email-s .icon-email-s
          li
            span.icons-svg.error
            span.icon.icon-error .icon-error
          li
            span.icons-svg.fixo-s
            span.icon.icon-fixo-s .icon-fixo-s
          li
            span.icons-svg.fixo
            span.icon.icon-fixo .icon-fixo
          li
            span.icons-svg.internet-s
            span.icon.icon-internet-s .icon-internet-s
          li
            span.icons-svg.internet
            span.icon.icon-internet .icon-internet
          li
            span.icons-svg.ligacao-s
            span.icon.icon-ligacao-s .icon-ligacao-s
          li
            span.icons-svg.pin-s
            span.icon.icon-pin-s .icon-pin-s
          li
            span.icons-svg.success
            span.icon.icon-success .icon-success
          li
            span.icons-svg.tv-s
            span.icon.icon-tv-s .icon-tv-s
          li
            span.icons-svg.tv
            span.icon.icon-tv .icon-tv
          li
            span.icons-svg.user-s
            span.icon.icon-user-s .icon-user-s
          li
            span.icons-svg.via-s
            span.icon.icon-via-s .icon-via-s

      h2.title.tiny Desenvolvimento
