include ./_partials/header.jade

body
  section.container

    include ./_partials/menu.jade

    article.content-doc

      h1.title.medium Ícones

      p Estilização de elementos

      h2.title.tiny Exemplos

      .example

        ul
          li
            span.icon.icon-app-s-aqua .icon-app-s-aqua
          li
            span.icon.icon-banda-black .icon-banda-black
          li
            span.icon.icon-celular-black .icon-celular-black
          li
            span.icon.icon-celular-s-black .icon-celular-s-black
          li
            span.icon.icon-email-s-aqua .icon-email-s-aqua
          li
            span.icon.icon-fixo-black .icon-fixo-black
          li
            span.icon.icon-fixo-s-black .icon-fixo-s-black
          li
            span.icon.icon-internet-black .icon-internet-black
          li
            span.icon.icon-internet-s-black .icon-internet-s-black
          li
            span.icon.icon-ligacao-s-aqua .icon-ligacao-s-aqua
          li
            span.icon.icon-pin-s-aqua .icon-pin-s-aqua
          li
            span.icon.icon-tv-black .icon-tv-black
          li
            span.icon.icon-tv-s-black .icon-tv-s-black
          li
            span.icon.icon-user-s-aqua .icon-user-s-aqua
          li
            span.icon.icon-via-s-aqua .icon-via-s-aqua



      h2.title.tiny Desenvolvimento
