include ./_partials/header.jade

body
    section.container

      include ./_partials/menu.jade

      article.content-doc

        h1.title.medium Início

        p Documentação de elementos, componentes e módulos usados no portal Oi

        h2.title.tiny Organização
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eveniet sequi dicta totam, quia qui quibusdam beatae asperiores accusantium officiis harum nostrum non voluptas. Quaerat reprehenderit, porro voluptates. Dicta, sit?

        h2.title.tiny Desenvolvimento
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vitae, tenetur impedit voluptas nisi laudantium sed quibusdam obcaecati perferendis at est nam enim, dignissimos similique hic commodi autem consequatur ipsum.


