include ./_partials/header.jade

body
  section.container

    include ./_partials/menu.jade

    article.content-doc

      h1.title.medium Tipografia

      p Definição de tamanhos de títulos, textos, links, números

      //- h2.title.tiny # Classes

      h2.title.tiny Exemplos

      .example.typography
        //- p.title Title
        p.title.huge Huge title
        p.title.big Big title
        p.title.medium Medium title
        p.title.small Small title
        p.title.tiny Tiny title
        p.title.eyebrow Eyebrow title


      h2.title.tiny Desenvolvimento
