include ../../_partials/header.jade

body.minha-oi.teste
  section.container(aria-hidden="false")

    +buildPlan()

    +menu()
    
    header
      .pre-title
        h2 Minha Oi
        p
          | Não tem Oi TV HD? 
          a Veja os planos
      h1.title Minha TV HD
  
    main.content

      div.column.main-content
        .column-container
          
          .column-title 
            h2 Atendimento ao cliente

          nav.customer-service-nav
            ul
              li
                a(href="#")
                  include ../../../assets/images/icons/user-s.svg
                  |Acesse sua conta na Minha Oi 
              li
                a(href="#")
                  include ../../../assets/images/icons/app-s.svg
                  |Baixe o App da Minha Oi
              li
                a(href="#")
                  include ../../../assets/images/icons/ligacao-s.svg
                  |Ligue para 106 31
              li
                a(href="#")
                  include ../../../assets/images/icons/pin-s.svg
                  |Visite a Loja Oi mais próxima
          
          form.search-faq
            fieldset
              label 
                span Buscar perguntas frequentes
                include ../../../assets/images/icons/lupa-thin.svg
                input(type="search", placeholder="Buscar perguntas frequentes")
              label
                span Buscar em
                select
                  option(value="tv-hd") em TV HD
                  option(value="fixo") em Fixo
                  option(value="internet") em Internet

          
          nav.customer-service-links
            ul
              li
                a(href="#") 2 via de conta
              li
                a(href="#") Altere seu plano
              li
                a(href="#") Fatura atrasada
              li
                a(href="#") Fatura com valor diferente
              li
                a(href="#") Sem sinal de TV
              li
                a(href="#" style="background-image:url(/assets/images/demo/video1.png)").hasimg Como usar o controle remoto
              li
                a(href="#" style="background-image:url(/assets/images/demo/video2.png)").hasimg Como usar o gravador digital
              li
                a(href="#") Instalação atrasada
              li
                a(href="#") Transferir local da assinatura
              li
                a(href="#") Grade de canais
              li
                a(href="#") Habilitar o Débito Automático
              li
                a(href="#") Premiere Indisponível
              li
                a(href="#") Contratar canais extras
              li
                a(href="#") Habilitar o Vídeo on Demand
              li
                a(href="#") Crie lista de canais favoritos
              li
                a(href="#") Parcelamento do Débito Automático
              li
                a(href="#").is-link Ver mais dúvidas frequentes

      div.column.side-content
        .column-container

          button(type="button").bt-back 
            include ../../../assets/images/icons/back.svg
            | Voltar

          .column-title 
            h2 Turbine sua TV HD

          .banner-image

          .addons
            ul
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/telecine.png)")
                  span.channel-name Tele Cine
                  +widget-price(null, '45,00', '/mês', 'small')
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/hbo.png)")
                  span.channel-name HBO
                  +widget-price(null, '35,00', '/mês', 'small')
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/premiere.png)")
                  span.channel-name Premiere
                  +widget-price(null, '71,00', '/mês', 'small')
              li
                a(href="#")
                  span Ponto Adicional
                  +widget-price(null, '19,00', '/mês', 'small')
              li
                a(href="#")
                  span Gravador Digital
                  +widget-price(null, '20,00', '/mês', 'small')
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/combate.png)")
                  span.channel-name Combate
                  +widget-price(null, '60,00', '/mês', 'small')
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/playboy-tv.png)")
                  span.channel-name Playboy TV
                  +widget-price(null, '19,90', '/mês', 'small')
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/sexyhot.png)")
                  span.channel-name SexyHot
                  +widget-price(null, '19,90', '/mês', 'small')
              li
                a(href="#" style="background-image: url(/assets/images/logos/height40/sexprive.png)")
                  span.channel-name SexyPrive
                  +widget-price(null, '14,90', '/mês', 'small')
              li
                a(href="#")
                  span Canais Internacionais
                  +widget-price(null, '19,90', '/mês', 'small')
          

          .rent-list
            
            h2 Filmes em destaque
            
            ul
              li
                a(style="background-image:url(/assets/images/demo/alugue1.png)")
                  div
                    div
                      span.movie-title O Hobbit
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                        li.availability-oifilmes Oi Filmes
                      +widget-price(null, '10,00', '/mês', 'small')
              li
                a(style="background-image:url(/assets/images/demo/alugue2.png)")
                  div
                    div
                      span.movie-title Homem Aranha 3
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                        li.availability-oifilmes Oi Filmes
                      +widget-price(null, '10,00', '/mês', 'small')
              li
                a(style="background-image:url(/assets/images/demo/alugue3.png)")
                  div
                    div
                      span.movie-title Os miseráveis
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                      +widget-price(null, '10,00', '/mês', 'small')
              li
                a(style="background-image:url(/assets/images/demo/alugue4.png)")
                  div
                    div
                      span.movie-title Thor
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                      +widget-price(null, '10,00', '/mês', 'small')
              li
                a(style="background-image:url(/assets/images/demo/alugue5.png)")
                  div
                    div
                      span.movie-title A Perseguição
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                        li.availability-oifilmes Oi Filmes
                      +widget-price(null, '10,00', '/mês', 'small')
              li
                a(style="background-image:url(/assets/images/demo/alugue6.png)")
                  div
                    div
                      span Oblivion
                      +widget-price(null, '10,00', '/mês', 'small')
              li
                a(style="background-image:url(/assets/images/demo/alugue7.png)")
                  div
                    div
                      span.movie-title Perfume
                      ul.availability
                        li.availability-oifilmes Oi Filmes
                      +widget-price(null, '10,00', '/mês', 'small')

      div.hidden-content#detail
        div.hidden-content-container
          div.channel-info
            h1.title Pacote HBO
            +widget-price(null, '35,00', '/mês', 'small')
            a(href="#").call 
              span.number 106 31 
              | Ligue para contratar
            h2.subtitle Os melhores Filmes e Séries
            div.desc
              p A HBO exibe filmes que já foram campeões de bilheteria. Nele são exibidos grandes e recentes conhecidos filmes da Columbia Pictures, Sony Pictures Television International, Warner, New Line Cinema, TriStar Pictures e até mesmo de produções de estúdios independentes.
              p Além disso, o canal exibe séries mundialmente aclamadas que contribuem em grande parte para o renome de qualidade do canal. Muitos desses programas são conhecidos, dividindo opiniões, por apresentar com pouca, ou nenhuma, censura temas como sexo, violência, uso de drogas, entre outros.

            h2.title-list 10 Canais em HD

            ul.list-channels
              li
                span HBO HD
                span Canal 70
              li
                span HBO 2
                span Canal 71
              li
                span HBO Comedy
                span Canal 72
              li
                span HBO Signature
                span Canal 73
              li
                span HBO Family
                span Canal 74
              li
                span HBO HD
                span Canal 70
              li
                span HBO 2
                span Canal 71
              li
                span HBO Comedy
                span Canal 72
              li
                span HBO Signature
                span Canal 73
              li
                span HBO Family
                span Canal 74

            h2.title-avaliable Disponível nos planos:

            ul.list-avaliable
              li
                a(href="") TV Mix HD
                | — Plano a partir de R$ 69,90
              li
                a(href="") TV Total HD
                | — Plano a partir de R$ 89,90

            .sign-now Ainda não tem Oi TV HD? Assine agora.


  +footer(footer)
  
  .testeCont
    .colLeft
    .colRight

  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)

