include ../../_partials/head.jade

body.minha-oi.teste
  section.container(aria-hidden="false")

    include ../../_partials/build-plan.jade

    include ../../_partials/menu.jade
    
    header
      .pre-title
        h2 Minha Oi
        p
          | Não tem Oi TV HD? 
          a Veja os planos
      h1.title Minha TV HD
  
    main.content

      div.column.main-content
        .column-container
          
          .column-title 
            h2 Atendimento ao cliente

          nav.customer-service-nav
            ul
              li
                a(href="#")
                  include ../../../assets/images/icons/user-s.svg
                  |Acesse sua conta na Minha Oi 
              li
                a(href="#")
                  include ../../../assets/images/icons/app-s.svg
                  |Baixe o App da Minha Oi
              li
                a(href="#")
                  include ../../../assets/images/icons/ligacao-s.svg
                  |Ligue para 106 31
              li
                a(href="#")
                  include ../../../assets/images/icons/pin-s.svg
                  |Visite a Loja Oi mais próxima
          
          form.search-faq
            fieldset
              label 
                span Buscar perguntas frequentes
                include ../../../assets/images/icons/lupa-thin.svg
                input(type="search", placeholder="Buscar perguntas frequentes")
              label
                span Buscar em 
                select.b-lazy(data-src="/assets/images/icons/arrow.svg")
                  option(value="tv-hd") em TV HD
                  option(value="fixo") em Fixo
                  option(value="internet") em Internet

          
          nav.customer-service-links
            ul
              li
                a(href="#") 2 via de conta
              li
                a(href="#") Altere seu plano
              li
                a(href="#") Fatura atrasada
              li
                a(href="#") Fatura com valor diferente
              li
                a(href="#") Sem sinal de TV
              li
                a.hasimg.b-lazy(href="#" data-src="/assets/images/demo/video1.png") Como usar o controle remoto
              li
                a.hasimg.b-lazy(href="#" data-src="/assets/images/demo/video2.png") Como usar o gravador digital
              li
                a(href="#") Instalação atrasada
              li
                a(href="#") Transferir local da assinatura
              li
                a(href="#") Grade de canais
              li
                a(href="#") Habilitar o Débito Automático
              li
                a(href="#") Premiere Indisponível
              li
                a(href="#") Contratar canais extras
              li
                a(href="#") Habilitar o Vídeo on Demand
              li
                a(href="#") Crie lista de canais favoritos
              li
                a(href="#") Parcelamento do Débito Automático
              li
                a(href="#").is-link Ver mais dúvidas frequentes

      div.column.side-content
        .column-container

          button(type="button").bt-back 
            include ../../../assets/images/icons/back.svg
            | Voltar

          .column-title 
            h2 Turbine sua TV HD

          .banner-image.b-lazy(data-src="/assets/images/demo/minha-oi-tv-hd.png")

          .addons
            ul
              li
                a.b-lazy(href="/tv-hd/canal/telecine/" data-src="/assets/images/logos/height40/telecine.png")
                  span.channel-name Tele Cine
                  oi-price
              li
                a.b-lazy(href="/tv-hd/canal/pacote-hbo/" data-src="/assets/images/logos/height40/hbo.png")
                  span.channel-name HBO
                  oi-price
              li
                a.b-lazy(href="/tv-hd/canal/premiere/" data-src="/assets/images/logos/height40/premiere.png")
                  span.channel-name Premiere
                  oi-price
              li
                a(href="/tv-hd/ponto-adicional/")
                  span Ponto Adicional
                  oi-price
              li
                a(href="/tv-hd/gravador-digital/")
                  span Gravador Digital
                  oi-price
              li
                a.b-lazy(href="/tv-hd/canal/combate/" data-src="/assets/images/logos/height40/combate.png")
                  span.channel-name Combate
                  oi-price
              li
                a.b-lazy(href="/tv-hd/canal/playboy-tv/" data-src="/assets/images/logos/height40/playboy-tv.png")
                  span.channel-name Playboy TV
                  oi-price
              li
                a.b-lazy(href="/tv-hd/canal/sexyhot/" data-src="/assets/images/logos/height40/sexyhot.png")
                  span.channel-name SexyHot
                  oi-price
              li
                a.b-lazy(href="/tv-hd/canal/sexprive/" data-src="/assets/images/logos/height40/sexprive.png")
                  span.channel-name SexyPrive
                  oi-price
              li
                a(href="/tv-hd/canal/canais-internacionais/")
                  span Canais Internacionais
                  oi-price
          

          .rent-list
            
            h2 Filmes em destaque
            
            ul
              li
                a.b-lazy(data-src="/assets/images/demo/alugue1.png")
                  div
                    div
                      span.movie-title O Hobbit
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                        li.availability-oifilmes Oi Filmes
                      oi-price
              li
                a.b-lazy(data-src="/assets/images/demo/alugue2.png")
                  div
                    div
                      span.movie-title Homem Aranha 3
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                        li.availability-oifilmes Oi Filmes
                      oi-price
              li
                a.b-lazy(data-src="/assets/images/demo/alugue3.png")
                  div
                    div
                      span.movie-title Os miseráveis
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                      oi-price
              li
                a.b-lazy(data-src="/assets/images/demo/alugue4.png")
                  div
                    div
                      span.movie-title Thor
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                      oi-price
              li
                a.b-lazy(data-src="/assets/images/demo/alugue5.png")
                  div
                    div
                      span.movie-title A Perseguição
                      ul.availability
                        li.availability-vod
                          acronym(title="Video On Demand") VOD
                        li.availability-oifilmes Oi Filmes
                      oi-price
              li
                a.b-lazy(data-src="/assets/images/demo/alugue6.png")
                  div
                    div
                      span Oblivion
                      oi-price
              li
                a.b-lazy(data-src="/assets/images/demo/alugue7.png")
                  div
                    div
                      span.movie-title Perfume
                      ul.availability
                        li.availability-oifilmes Oi Filmes
                      oi-price

      div.hidden-content.xxb-lazy#detail(data-src="/assets/images/demo/hbo-demo.png")
        div.hidden-content-container
          channel-detail
          

  include ../../_partials/menu.jade
  
  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)

