include ../../_partials/header.jade

body.product
  section.container(aria-hidden="false")
    
    header
      h1 Minha TV HD
      p
        | Não tem Oi TV HD?
        a Veja os planos

    div
      h2 Atendimento ao cliente

      nav
        ul
          li
            a Acesse sua conta na Minha Oi
          li
            a Baixe o App da Minha Oi
          li
            a Ligue para 106 31
          li
            a Visite a Loja Oi mais próxima

      form
        label
          input

      nav
        ul
          li
            a 2 via de conta




  +footer(footer)

  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)

