.oi-banda-larga

  .oi-banda-larga_sem-banda-larga
    h4
      | São Leopoldo(RS) ainda não tem a Banda Larga da Oi. 
      a(href="javascript:void(0);") Altere sua localização 
      | ou 
      a(href="javascript:void(0);") conheça a Internet Móvel da Oi

  include _tabela_banda-larga.jade
  include _ficha-tecnica_banda-larga.jade
//- .oi-internet-movel
//-   include _tabela_internet-movel.jade
//-   include _ficha-tecnica_internet-movel.jade
