.oi-banda-larga_table
  table
    thead
      tr
        th
        th
        th Velocidade
        th Modem incluído
        th Oi WiFi
          span.hashtag ilimitado
    tbody
      tr
        td: input(type="radio",name="radio-test",checked="checked")
        td 69,90
        td: strong 15 Mega
        td: i.icon.check
        td: i.icon.check
      tr
        td: input(type="radio",name="radio-test",checked="checked")
        td 59,90
        td 10 Mega
        td: i.icon.check
        td: i.icon.check
          small com WiFi
      tr
        td: input(type="radio",name="radio-test",checked="checked")
        td 49,90
        td 2 Mega
        td: i.icon.check
        td: i.icon.check
          small com WiFi
