.oi-banda-larga_table
  table
    thead
      tr
        th
        th Velocidade
        th Modem incluído
        th Oi WiFi
          span.hashtag ilimitado
    tbody
      tr
        td
          fieldset.price-fieldset
            input(type="radio",name="radio-test")
            oi-price#plan-price-one(data-price="69,90")
        td: strong 15 Mega
        td
          i.icon_check
            include /assets/images/icons/check.svg
        td
          i.icon_check
            include /assets/images/icons/check.svg
      tr
        td
          fieldset.price-fieldset
            input(type="radio",name="radio-test")
            oi-price#plan-price-two(data-price="59,90")
        td: strong 10 Mega
        td
          i.icon_check
            include /assets/images/icons/check.svg
        td
          i.icon_check
            include /assets/images/icons/check.svg
          small com WiFi
      tr
        td
          fieldset.price-fieldset
            input(type="radio",name="radio-test")
            oi-price#plan-price-three(data-price="49,90")
        td: strong 2 Mega
        td
          i.icon_check
            include /assets/images/icons/check.svg
        td
          i.icon_check
            include /assets/images/icons/check.svg
          small com WiFi

.oi-banda-larga_table_footer
  | Esses são planos para clientes de Telefone Fixo da Oi. 
  a(href="javascript:void(0);") Veja os planos fixo + banda larga
