include ../_partials/head.jade
include ../_partials/hero.jade
include ../_partials/header.jade
include ../_partials/_cards/_cards.jade
include ../_partials/_content/_content.jade

+head('internet')

body(itemtype="http://schema.org/WebPage")

  header
    include ../_partials/build-plan.jade
    include ../_partials/menu.jade
    +hero()
    //- +header({title:'Internet',types:[title:'Já tenho',url:'#ja-tenho']})
    +headerInternet()

  main

    +cardsInternet(cardsInternet)
    +buildContent('contentHeaderInternet', 'contentTableInternet')

  include ../_partials/footer.jade

  modal-internet-disponibilidade
  modal-internet-pnbl
  modal-internet-rural
  modal-bl-sem-fixo
  modal-bl-sem-fidelizacao
  modal-internet-contratos-ofertas
  modal-internet-todos-planos

  script(src='/assets/scripts/vendor/require.js' data-main="/assets/scripts/main" async)
