//-
//- content header related to TVHD
//-
mixin contentHeaderTVHD()
  header.content_header
    .content_header_list
      ul#cart-list
        //- each title in channelsgroup.header.title
          //- li=title
    .content_header_sidewalk
      .content_header_client-type
        a(href="#").content_header_client-type-trigger
          span(data-text="Valor para não clientes") Valor para clientes 
          span
            |de Telefone Fixo da Oi
            include /assets/images/icons/arrow.svg
        .content_header_client-type_dropdow
          ul
            li 
              a(href="#").has-phone.active
                include /assets/images/icons/radio-check.svg
                span 
                  div Clientes de Telefone Fixo da Oi 
                oi-price#price-has-phone
            li 
              a(href="#")
                include /assets/images/icons/radio-check.svg
                span
                  div Não Clientes de Telefone Fixo da Oi
                oi-price#price-has-no-phone
      .content_header_price
        oi-price#price-total
      .content_header_action
        a(href="") Peça Já

//-
//- content header related to internet
//-
mixin contentHeaderInternet()
  header.content_header
    .content_header_list
      ul#cart-list
        li Banda larga para sua casa
    .content_header_sidewalk
      .content_header_action
        .content_header_action_box
          a(href="javascript:void(0);") Compre Agora

  .content_header_alert
    h4
      | São Leopoldo(RS) ainda não tem a Banda Larga da Oi. 
      a(href="javascript:void(0);") Altere sua localização 
      | ou 
      a(href="javascript:void(0);") conheça a Internet Móvel da Oi


//-
//- content header related to celular
//-
mixin contentHeaderCelular()
  header.content_header
    .content_header_list
      ul#cart-list
    .content_header_sidewalk
      .content_header_price
        oi-price#price-total
      .content_header_action
        a(href="") Peça Já

//-
//- content header related to combo
//-
mixin contentHeaderCombo()
  header.content_header
    .content_header_list
      ul#cart-list
    .content_header_sidewalk
      .content_header_price
        oi-price#price-total
      .content_header_action
        a(href="") Peça Já

mixin contentHeader(config)
  header.content_header
    .content_header_list
      if config.title
        h2=config.title
      if config.list_title
        ul#cart-list
        each item in list_title
          li=item
    .content_header_sidewalk
      if config.price
        .content_header_price
          oi-price
      if config.action
        .content_header_action
          a(href="#")=config.action
