@import "../_partials/_base.styl"

// Page Components
@import "../_partials/_structure.styl"
@import "../_partials/_cards.styl"
@import "../_partials/_content.styl"
@import "../_partials/_content-header.styl"
@import "../_partials/_content-table.styl"

body
  main
    .content
      .content_table_container
        .content_table
          padding-bottom 336px
