@import "../_partials/_base.styl"

// Page Components
@import "../_partials/_structure.styl"
@import "../_partials/_cards.styl"
@import "../_partials/_content.styl"
@import "../_partials/_content-header.styl"
@import "../_partials/_content-table.styl"
@import "../_partials/_product-cheat-sheet.styl"

body
  main
    .content
      .content_table_container
        .content_table
          padding-bottom 336px

.oi-banda-larga, .oi-internet-movel
  margin: 0 auto
  max-width: remify(1170px)
