@import "../_partials/_base.styl"

// Page Components
@import "../_partials/_structure.styl"
@import "../_partials/_cards.styl"
@import "../_partials/_content.styl"
@import "../_partials/_content-header.styl"
@import "../_partials/_content-table.styl"
@import "../_partials/_product-cheat-sheet.styl"

body
  main
    .cards
      .cards_container
        .cards_container_box
          max-width: remify(780px)
          oi-card
            width: (100/2)%
            +below('xs')
              width 50%
    .cards.open
      .cards_container
        .cards_container_box
          max-width: 100%

    .content
      .content_header_container
        position: relative
        +below('xs')
          display none
      .content_header
        border-bottom none
      .content_table_container
        top 0
        .content_table
          padding-bottom remify(336px)
          top 0

.oi-banda-larga, .oi-internet-movel
  margin: 0 auto
  max-width: remify(1170px)

.oi-banda-larga_sem-banda-larga
  position: relative
  display: table
  width: 100%
  height: remify(80px)
  background-color: $grayLighter
  color: $black
  h4
    display: table-cell
    width: 100%
    vertical-align: middle
    text-align: center
    padding: 0 remify(10px)

.oi-banda-larga_table
  position: relative
  display table
  width 100%
  table
    thead
      tr
        th
          height: remify(70px)
    tbody
      tr
        td
          height: remify(110px)


.oi-banda-larga_table_heading
  @extend .clearfix
  position: absolute
  display inline-block
  width: 26%
  vertical-align: top
  background-color: $white
  z-index: 1
  +below('xs')
    width: 40vw

  table tbody tr td oi-price
    pointer-events: none
    height: remify(24px)


.oi-banda-larga_table_scroll
  @extend .clearfix
  position: relative
  left: 26%
  display inline-block
  width: 74%
  vertical-align: top
  z-index: 0
  table tbody tr td
    width: (100/3)%

  +below('xs')
    width: 60vw
    left: 40vw
    overflow-x: scroll
    table
      width: remify(185px*3)
      tbody tr td
        width: remify(185px)


.oi-banda-larga_table_footer
  @extend .clearfix
  display: table
  height remify(70px)
  div
    display: table-cell
    vertical-align: middle
    width: 100%


.oi-banda-larga_ficha-tecnica
  padding-top: remify(130px)
  // background-image: url(../../../../assets/images/oi/internet-features-maks.png)


