$column-container-left
  float right
  +above('l')
    width (1200px / 2 - 115px)
    // margin-right remify(115px)

$column-container-right
  float left
  +above('l')
    width (1200px / 2 - 115px)
    // margin-right remify(115px)

.minha-oi
  .menu
    background-color $green
    center

  header
    padding-top remify(60px)
    +above('l')
      center(1200px)

    .pre-title
      @extend $text-regular
      color $gray
      overflow hidden
      h2
        float left
      p
        float right
      a
        color inherit
        text-decoration underline

    h1
      @extend $title-big
      color $black
      padding-bottom remify(120px)

  main.content
    width 100%
    display block
    overflow hidden
    margin-bottom remify(150px)

  .column
    width 50%
    float left

    .column-container
      float right
    & + .column
      padding-right 0
      float left
      .column-container
        float left

  .column-container
    width 100%

  .column-title
    overflow hidden
    margin-right remify(115px)
    h2
      @extend $column-container-left
      @extend $headline-big
      font-size 45px
      margin-bottom remify(65px)

  .customer-service-nav
    margin-right remify(115px)
    li
      height remify(60px)
      line-height remify(60px)
      overflow hidden
    a
      @extend $column-container-left
      @extend $text-regular
      color $black
      display inline-block
      text-decoration none
    svg
      height 23px

  .search-faq
    height remify(150px)
    line-height remify(150px)
    border-top 1px solid $grayLight
    border-bottom 1px solid $grayLight
    margin-right remify(115px)
    fieldset
      @extend $column-container-left
      margin-right 0
    label
      display inline-block
      span
        @extend $visuallyhidden
    svg
      width remify(17px)
      display inline-block
      transform translateY(remify(4px))
    input
      @extend $text-regular
      background-color transparent
      border none
      display inline-block
      line-height remify(30px)
      width remify(320px)
    select
      @extend $text-regular
      appearance none
      background-color transparent
      border none
      display inline-block
      float right
      line-height remify(32px)
      height remify(32px)
      padding 0  remify(15px)
      text-align right
      transform translate(0, remify(11px))
      background-image url(/assets/images/icons/arrow.svg)
      background-repeat no-repeat
      background-size remify(10px)
      background-position right center
      border-radius 0


  .customer-service-links
    clear both
    li
      border-bottom 1px solid $grayLight
      line-height remify(150px)
      overflow hidden
      margin-right remify(115px)
      &:last-child
        border-bottom 1px solid $white
    a
      @extend $column-container-left
      color $black
      text-decoration none
      &.hasimg
        background-repeat no-repeat
        background-position left center
        padding-left remify(200px)
      &.is-link
        color $green

  .main-content
    .column-container
      background-color $grayLighter
      // background-image linear-gradient(0%, $white 0%, $grayLighter 20%, $grayLighter 70%, $white 80%)
      background-image linear-gradient(0%, $white 0%, $grayLighter 20%, $grayLighter 70%, $white 86%)

  .side-content

    .column-title h2
      float left
      margin-bottom 0

    .banner-image
      background-image url(/assets/images/demo/minha-oi-tv-hd.png)
      background-repeat no-repeat
      // background-position remify(80px) remify(50px)
      background-position remify(50px) 0
      width 100%
      margin-top -20px
      height remify( 240px + 150px + 63px + 20px + 23px)

  .addons
    margin-top -23px

    .bt-back
      @extend $text-regular
      background-color $green
      border 0px
      color $white
      cursor pointer
      display block
      height remify(70px)
      line-height remify(70px)
      width 100%
      height 0
      padding 0
      svg
        height 18px
        width 18px
        display inline-block
        vertical-align text-bottom
        line, polyline
          stroke $white
          stroke-width 5px


    li
      line-height remify(150px)
      height remify(151px)
      // overflow hidden
      padding-left remify(115px)
      &:last-child
        border-color $black
    a
      border-bottom 1px solid $grayLight
      @extend $column-container-right
      color $black
      background-color $white
      display block
      text-decoration none
      background-position left center
      background-repeat no-repeat
      background-size

      span.channel-name
        @extend $visuallyhidden

    .price-widget
      float right

  .rent-list

    h2
      @extend $headline-big
      font-size remify(45px)
      line-height remify(151px)
      height remify(151px)

    ul > li
      height remify(151px)
      overflow hidden
      &:last-child a > div
        border-bottom none

    a
      font-family $fontTextRegular
      display block
      height remify(150px)
      background-repeat no-repeat
      background-position 0 center
      padding-left remify(110px)

      & > div
        height remify(150px)
        border-bottom 1px solid $grayLight
        // line-height remify(150px)

        & > div
          height remify(150px)
          vertical-align middle
          display table-cell
          position relative
          +above('l')
            width (1200px / 2 - 115px - 110px)

    .movie-title
      display block

    .availability
      display block
      li
        display inline-block
        color $white
        border-radius remify(3px)
        font-size remify(11px)
        height remify(18px)
        line-height remify(18px)
        padding 0 remify(5px)
        font-family $fontTextRegular
        &.availability-oifilmes
          background-color $purple
        &.availability-vod
          background-color $purpleLight


    .price-widget
      position absolute
      top remify(45px)
      right 0

  footer
    background-color $grayLighter

  .hidden-content
    position fixed
    top 0
    left 100vw
    width 0
    height 100vh
    background-color $black
    overflow scroll
    div
      height 2000px
      background-image url(/assets/images/demo/demo-hbo.png)
      background-position left top
      background-repeat no-repeat
      background-size cover

  &.locked
    overflow hidden

    .addons
      ul
        height 100vh
        overflow scroll
        width 430px

