.marker
  position absolute
  top 0
  right 0
  width 100%
  height 0
  border-bottom 1px dashed red
  z-index 99999


main
  position relative
  z-index 3
  transition all 0.5s ease
  // &.has-scroll
  //   background s("linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,1)2%,#fff 99%)")

.cards
  width 100%
  // padding 0 remify(10px)
  position relative
  z-index 1

  &.is-tabs
    .oi-card.active
      background-color $green
      border-width 0
      .oi-card_header
        background-color $green
        h2
          color $white
      .oi-card_subtitle
        color $white
      .oi-price
        color $white
      .oi-card_list
        color $white
      .oi-card_action
        background-color $green
        border-color $white
        color $white

  &_container
    overflow hidden
    margin-bottom remify(125px)
    +above('m')
      margin-bottom remify(195px)
    +above('l')
      max-width remify(1170px)
      margin 0 auto
      clear both
      margin-top remify(-127px)
      margin-bottom remify(195px)
    &--bg
      background-color $green
      overflow hidden

  oi-card
    width (100% / 3)
    float left
    & + oi-card .oi-card
      border-left 0

.oi-channels
  background-color $green
  display block
  width 100%
  // max-width remify(1366px)
  margin 0 auto
  overflow hidden
  position relative
  z-index 2
  // opacity 0
  +above('m')
    padding remify(10px)
    &.nopad
      // background-color $white
      padding-left 0
      padding-right 0
      padding-top 0

  &_tabs
    ul
      border-bottom remify(1px) solid $green
      border-top remify(1px) solid $green
      display block
      overflow hidden
      +above('m')
        border-top none

    li
      display block
      float left
      height remify(60px)
      line-height remify(60px)
      text-align center
      width (100% / 3)
      &:nth-child(0n+2)
        border-right remify(1px) solid $green
        border-left remify(1px) solid $green

    a
      background-color $white
      color $green
      display block
      height 100%
      text-decoration none
      width 100%

      &.active
        color $white
        background-color $green

  &_container
    background $white
    position relative
    z-index 2
    // box-shadow 0 remify(15px) remify(40px) $white
    &#channel-info
      z-index 1

  &_lists-container
    max-width remify(1170px)
    margin 0 auto
    overflow hidden
    width 100%
    background-color $grayLighter

  &_header
    height remify(65px)
    padding remify(17px) remify(20px)
    background-color $white
    border-bottom remify(1px) solid $grayLight
    position relative
    max-width remify(1170px)
    margin 0 auto
    z-index 2
    +above('m')
      padding remify(50px) remify(40px)
      height remify(130px)
    +above('l')
      padding remify(50px) remify(40px)
      border-bottom remify(1px) solid $black
    +above(1230px)
      padding remify(50px) 0


    &_list
      display none
      float left
      font-family $fontTitle
      font-size remify(42px)
      text-transform uppercase
      position relative
      z-index 1
      height remify(58px)
      width s("calc(100% - " + remify(140px + 100px + 170px) + ")")
      padding-right remify(30px)
      +above('m')
        display block
        margin-top remify(-12px)

      ul
        display block
        height remify(70px)
        overflow hidden
        white-space nowrap

      li
        // display none
        display inline-block
        opacity 0
        transition all 0.5s ease
        &.visible
          opacity 1

        &:first-child:before
          display none
        &:last-child
          +above('m')
            display none
          +above('l')
            display inline-block
        &:before
          content '+'
          color $grayLight
          // display inline-block
          // width remify(12px)
          // height remify(12px)
          // border-radius remify(6px)
          // background-color $grayLight
          // transform translateY(remify(-7px))
          // margin 0 remify(7px) 0 0


    &_client-type
      font-family $fontTextRegular
      width remify(140px)
      float left
      height remify(58px)
      margin-top remify(-12px)
      padding remify(12px) 0
      a.oi-channels_header_client-type-trigger
        color $green
        text-decoration none
        font-size remify(13px)
        height remify(30px)
        display block
        span
          height remify(15px)
          lineheight remify(15px)
          display block
        svg
          display inline-block
          width remify(9px)
          margin-left remify(5px)
          & + span
            display inline-block
        path
          fill $green

      &_dropdow
        background-color $white
        border remify(1px) solid $gray
        border-radius remify(5px)
        display none
        font-family $fontTextRegular
        left remify(15px)
        position absolute
        top remify(55px)
        width s("calc(100% - 30px)")
        max-width remify(465px)
        &.open
          display block
        +above('m')
          top remify(104px)
          // right 0
          right remify(191px)
          left auto
        +above('l')
          right remify(191px)
        +above('xl')
          right remify(151px)

        &:before
          background $white
          border 1px solid $gray
          border-radius remify(4px)
          border-width remify(1px)  0 0 remify(1px)
          content ''
          display block
          height remify(15px)
          left remify(126px)
          position: absolute
          top remify(-6px)
          transform rotate(45deg)
          width remify(15px)
          +above('m')
            left remify(328px)

        &:after
          background $white
          content ''
          display block
          height remify(15px)
          width remify(30px)
          left remify(120px)
          position: absolute
          top remify(0)
          +above('m')
            left remify(320px)

        ul
          display block

        li
          height remify(115px)
          border-bottom remify(1px) solid $grayLight
          padding 0 remify(5px)
          position relative
          +above('m')
            padding 0 remify(40px)

          &:last-child
            border-bottom none

        a
          font-size remify(16px)
          display block
          text-decoration none
          color $black

          & > span
            transition color 0.3s ease
            width s(" calc(100% - 140px)")
            display inline-block
            line-height remify(20px)
            position absolute
            top remify(30px)
            height remify(55px)
            & > div
              display table-cell
              vertical-align middle
              height remify(55px)

          &.active, &:hover, &:focus, &:active
            & > span
              color $green
            svg circle.icon-inner
              fill $green

          svg
            width remify(25px)
            transform translateY(remify(33px))
            margin 0 remify(5px) 0 0
            circle
              stroke $green
              &.icon-inner
                stroke $white
                fill $white
              &.icon-outer
                stroke $green

        oi-price
          right remify(20px)
          width remify(80px)
          display inline-block
          position absolute
          top remify(38px)
          +above('m')
            right remify(40px)

    &_price
      width remify(100px)
      float right
      height remify(58px)
      transform translateY(remify(-5px))
      margin remify(-7px) 0
      padding remify(10px) 0
      +above('m')
        float left

    &_action
      height remify(58px)
      display none
      float left
      font-family $fontTextRegular
      margin remify(-12px) 0 0 0
      width remify(170px)
      +above('m')
        display block

      a
        color $black
        display block
        text-decoration none
        background-color $orangeLight
        border-bottom remify(2px) solid $orange
        border-radius remify(2px)
        font-size remify(16px)
        height remify(50px)
        line-height remify(50px)
        margin-left remify(30px)
        margin-top remify(4px)
        text-align center
        &:hover
          border-bottom remify(1px) solid $orange
          margin-top remify(5px)

  &_search-call
    max-width remify(1170px)
    margin 0 auto
    svg
      display inline-block
      height remify(11px)
      width remify(11px)
      path
        fill $green
    a
      color $green
      display block
      font-family $fontTextRegular
      font-size remify(13px)
      height remify(85px)
      line-height remify(85px)
      text-decoration none
      padding 0 remify(20px)
      border-bottom remify(1px) solid $grayLight
      +above('m')
        border-bottom none
      +above('l')
        font-size remify(16px)
        border-top remify(1px) solid $black

  &_footer-banner
    height remify(360px)
    display block
    position relative
    z-index 1
    +above('m')
      height 0
      display none
    +above('l')
      height 0
      display block

    & > div
      background-repeat no-repeat

    &--small
      background-size cover
      display block
      height remify(360px)
      border-bottom remify(1px) solid $grayLight
      +above('m')
        display none

    &--large
      background-size initial
      display none
      height remify(900px)
      position absolute
      right 0
      top 0
      width 100%
      pointer-events none
      +above('l')
        display block

.oi-channels-lists
  background-color $white
  font-family $fontTextRegular
  +above('l')
    // width 74.358974359%
    // margin-right 2.564102564%
    width 76.923076923%
    float left
    padding-bottom remify(120px)

  &_list-tv
    height remify(150px)
    padding remify(25px) 0 0 remify(15px)
    +above('m')
      padding remify(45px) 0 0 remify(30px)
      height remify(195px)
    +above('l')
      padding 0
      height auto
      width (100% / 6)
      float left

    &_title
      font-size remify(13px)
      height remify(15px)
      margin-bottom remify(15px)
      +above('m')
        font-size remify(16px)
        height remify(20px)
      +above('l')
        height remify(70px)
        line-height remify(70px)
        border-bottom remify(1px) solid $grayLight
        text-align center

      span
        display inline
        +above('l')
          display none

    &_container
      border-bottom remify(1px) dashed $grayLight
      height remify(97px)
      overflow scroll
      +above('m')
        height remify(115px)
      +above('l')
        overflow auto
        height auto
        border-bottom none
        width remify(95px)
        margin 0 auto

      ul
        display block
        width 2000px
        +above('l')
          width auto

      li
        display block
        height remify(85px)
        width remify(85px)
        float left
        text-align center
        +above('m')
          height remify(95px)
          width remify(95px)
        +above('l')
          float none
          margin 0 auto remify(30px) 0
      a
        border remify(1px) 1px solid $white
        display block
        height remify(85px)
        width remify(85px)
        text-decoration none
        color $gray
        transition all 0.3s ease
        transition-delay 0.1s
        +above('m')
          height remify(95px)
          width remify(95px)
        &:hover, &.active
          border remify(1px) 1px solid $purple
          color $purple

    &_logo
      background-repeat no-repeat
      background-position center
      width 100%
      height remify(60px)
      background-size remify(45px) auto
      position relative
      +above('m')
        height remify(70px)
        background-size remify(45px) auto

    &_name
      height remify(25px)
      line-height remify(12px)
      font-size remify(10px)
      display table-cell
      vertical-align middle
      +above('m')
        font-size remify(11px)
      div
        width remify(85px)


  &_list-audio
    height remify(170px)
    padding remify(25px) 0 0 remify(15px)
    +above('m')
      padding remify(45px) 0 0 remify(30px)
      height remify(170px)
    +above('l')
      clear both
      padding remify(50px) remify(30px) 0 remify(30px)
      height auto

    &.open
      height auto
      .oi-channels-lists_list-audio_container
        height auto
      .oi-channels-lists_list-audio_container ul
        height auto
        padding-bottom remify(20px)

    &:last-child
      .oi-channels-lists_list-audio_container
        border-bottom none

    &_title
      font-size remify(13px)
      height remify(15px)
      margin-bottom remify(15px)
      +above('m')
        font-size remify(16px)
        height remify(20px)
      span
        display inline

    &_container
      border-bottom remify(1px) dashed $grayLight
      height remify(114px)
      +above('m')
        overflow scroll
        height remify(90px)
      +above('l')
        height auto
        border-bottom none
        overflow auto


      ul
        display block
        height remify(65px)
        overflow hidden
        padding 0 remify(15px)
        margin-left remify(-15px)
        +above('m')
          padding 0
          margin-left 0
          width remify(1800px)
        +above('l')
          width auto
          height auto

      li
        display inline-block
        font-size remify(13px)
        line-height remify(20px)
        color $gray
        +above('m')
          font-size remify(16px)
        +above('l')
          font-size remify(13px)
          color $black
        &:after
          content ","
        &:last-child
          &:after
            content "."

      button
        font-size remify(13px)
        background-color transparent
        color $green
        border none
        padding 0
        cursor pointer
        +above('m')
          display none

.oi-channels-addons
  border-top remify(1px) solid $grayLight
  border-bottom remify(1px) solid $grayLight
  background-color $grayLighter
  height remify(210px)
  padding remify(25px) 0 0 remify(15px)
  font-family $fontTextRegular
  +above('m')
    height auto
    padding remify(45px) 0 0 remify(30px)
  +above('l')
    border none
    width 23.076923077%
    background-color $grayLighter
    height auto
    float left
    padding 0

  &_title
    font-size remify(13px)
    height remify(15px)
    margin-bottom remify(15px)
    +above('m')
      font-size remify(16px)
      height remify(20px)
    +above('l')
      height remify(70px)
      line-height remify(70px)
      border-bottom remify(1px) solid $grayLight
      text-align center

  &_container
    overflow auto
    height remify(153px)
    +above('l')
      height auto

  &_list
    display block
    width 1500px
    +above('l')
      width auto

  &_item
    display block
    width remify(66px)
    float left
    font-size remify(10px)
    text-align center
    color $gray
    margin-right remify(24px)
    position relative
    +above('m')
      width remify(120px)
      margin-right remify(34px)
    +above('l')
      height remify(260px)
      border-bottom remify(1px) solid $grayLight
      float none
      width 100%
      padding remify(40px) remify(50px) 0 remify(50px)
      &:last-child
        border-bottom none

    &_tooltip
      display: none
      position absolute
      top remify(10px)
      left 0
      width 100%
      +above('m')
        display block


      div
        margin 0 auto
        height remify(20px)
        line-height remify(20px)
        padding 0 10px
        background-color $white
        border-radius remify(2px)
        border remify(1px) solid $black
        color $black
        position relative
        transition all 0.3s ease
        margin-top remify(10px)
        display none
        opacity 0

        &.visible
          margin-top 0
          display inline-block
          opacity 1

        &:before
          content ''
          display block
          height 0
          width 0
          border remify(5px) solid transparent
          border-color $black transparent transparent transparent
          position absolute
          bottom remify(-10px)
          margin-left remify(-5px)
          left 50%
          z-index 1
        &:after
          content ''
          display block
          height 0
          width 0
          border remify(5px) solid transparent
          border-color $white transparent transparent transparent
          position absolute
          bottom remify(-9px)
          margin-left remify(-5px)
          left 50%
          z-index 2

    &_link
      display block
      color $gray
      text-decoration none

    &_logo
      height 40px
      background-repeat no-repeat
      background-size contain
      background-position center
      text-align center
      font-size remify(16px)
      color $black
      +above('l')
        margin-bottom remify(10px)

    &_desc
      font-size remify(9px)
      height remify(50px)
      padding-top remify(10px)
      line-height 15px
      +above('m')
        font-size remify(11px)
      +above('l')
        height remify(70px)
      span
        &:last-child
          display none
          +above('l')
            display block

    &_spots
      text-align center
      a
        background-color $grayLighter
        border remify(1px) solid $grayLight
        // border-radius
        color $black
        display inline-block
        height remify(40px)
        line-height remify(40px)
        text-decoration none
        width remify(35px)
        &:first-child
          border-top-left-radius remify(2px)
          border-bottom-left-radius remify(2px)
        &:last-child
          border-top-right-radius remify(2px)
          border-bottom-right-radius remify(2px)
        & + a
          border-left none
        &.added, &:hover, &:focus, &:active
          background-color $green
          color $white

    &_actions

      button
        background-color transparent
        border none
        cursor pointer
        display block
        font-family $fontTextRegular
        font-size remify(10px)
        height remify(17px)
        line-height remify(13px)
        transition all 0.3s ease
        width 100%
        position relative
        +above('m')
          height remify(30px)
          line-height remify(26px)
        +above('l')
          font-size remify(13px)
          height remify(40px)
          line-height remify(35px)

      .add
        background-color $grayLighter
        border remify(1px) solid $grayLight
        border-radius remify(2px)
        color $black
        display none
        +above('m')
          display block
        svg
          position absolute
          top 10%
          left -7%
          height 80%
          opacity 0
          transition all 0.3s ease
          margin-left remify(30px)
          +above('m')
            left 9%
          polyline
            stroke $white

        &.added, &:hover, &:focus, &:active
          background-color $green
          color $white
          outline none
          display block

        &.added
          & + .remove
            display block
            opacity 1
          svg
            opacity 1
            margin-left 0

      .remove
        color $gray
        display none
        opacity 0
        +above('l')
          font-size(11px)

.oi-channels

  &_footer-item
    position relative
    z-index 2
    display block
    max-width remify(1170px)
    margin 0 auto
    border-bottom remify(1px) solid $grayLight
    font-family $fontTextRegular
    font-size remify(13px)
    overflow hidden
    +above('m')
      border-bottom none
      margin-top remify(85px)

    &.open

    &_title-area
      height remify(88px)
      padding 0 remify(20px)
      cursor pointer
      +above('m')
        cursor default
        width remify(200px)
        padding-right remify(20px)
        float left

      &_title
        line-height remify(88px)
        font-size remify(13px)
        text-transform uppercase
        color $green
        +above('m')
          font-size remify(21px)
          line-height remify(25px)
          padding-right remify(10px)
          color $black
          margin-bottom remify(15px)

      &_desc
        display none
        font-size remify(13px)
        +above('m')
          display block

        p
          margin-bottom remify(15px)

    &_content-area
      padding 0 0 0 remify(20px)
      overflow hidden
      height 0
      opacity 0
      transition all 0.3s ease
      +above('m')
        padding-bottom 0
        height auto
        width remify(520px)
        padding 0
        float left
        opacity 1
      &.open
        height auto
        opacity 1

      &_desc
        line-height remify(20px)
        font-size remify(13px)
        padding-bottom remify(50px)
        +above('m')
          padding-bottom 0
        dl
          display block
          overflow hidden
          +above('m')
            margin-bottom remify(35px)
        dt
          display block
          font-family $fontTextBold
          +above('m')
            clear both
            float left
            margin-bottom remify(10px)
            width remify(135px)
        dd
          display block
          margin-bottom remify(30px)
          +above('m')
            float left
            width remify(380px)
            margin-bottom remify(10px)
        a
          color $green
          text-decoration none
          display block
          +above('m')
            display inline-block

        br
          display none
          +above('m')
            display inline


      &_movies

        .list-title
          font-family $fontTextBold
          font-size remify(13px)
          margin-bottom remify(15px)

        .list-container
          height remify(230px)
          overflow scroll
          +above('m')
            height auto
            overflow auto

          &.rent-list
            li
              +above('m')
                height remify(190px)

        ul
          display block
          height remify(230px)
          width (120px * 8 )
          +above('m')
            height auto
            width 100%
            overflow auto

        li
          float left
          height remify(230px)
          width remify(100px)
          margin-right remify(20px)
          font-size remify(10px)
          +above('m')
            font-size remify(11px)

          a
            display block
            color $black
            text-decoration none

        .poster
          background-repeat no-repeat
          background-size cover
          display block
          height remify(150px)
          width remify(100px)
          margin-bottom remify(10px)
          background-color $grayLighter
          position relative

        .dist
          display block
          position absolute
          left remify(4px)
          bottom remify(4px)
          span
            display inline-block
            line-height remify(18px)
            height remify(18px)
            padding 0 remify(4px)
            color $white
            border-radius remify(2px)
            margin-right remify(2px)
          .vod
            background-color $purple
          .oi-filmes
            background-color $purpleLight

        .channel
          display block
          font-family $fontTextBold
          width 100%
          height remify(15px)
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

        .name
          display block
          width 100%
          height remify(15px)
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

        .avaliable
          font-style italic
          color $black
          +above('m')
            padding-right remify(15px)

      .list-bullets
        background-repeat no-repeat
        &.img-recorder
          background-position -9999px
          +above('m')
            padding-left remify(225px)
            background-position 0 0
        ul
          list-style-type disc
          color $grayLight
          padding-left remify(15px)
          margin-bottom remify(10px)
        li
          line-height remify(20px)
          +above('m')
            line-height remify(27px)
        button
          font-family $fontTextRegular
          color $green
          cursor pointer
          background-color transparent
          border none
          font-size 16px
        span
          color black

      .button
        border remify(1px) solid inherit
        border-radius remify(2px)
        color $black
        display inline-block
        font-size remify(13px)
        height remify(50px)
        line-height remify(50px)
        padding 0 remify(40px)
        text-align center
        &:hover, &.forcus
          color $purple

.oi-channels_footer

  &_faq-menu
    background-color $grayLighter
    font-family $fontTextRegular
    font-size remify(13px)
    height remify(88px)
    overflow hidden
    line-height remify(88px)
    +above('m')
      height remify(160px)
      line-height remify(160px)

    ul
      display block
      max-width remify(1170px)
      margin 0 auto

    li
      display none
      +above('m')
        display inline-block
        margin-right remify(10px)

    a
      color $black
      text-decoration none
      display block
      padding 0 remify(10px)

    .faq-menu_icon
      display block
      padding 0 remify(20px)
      +above('m')
        margin-right remify(60px)
        display inline-block
        font-family $fontTextBold

      svg
        display inline-block
        width remify(30px)
        margin-right remify(10px)
        transform translateY(remify(6px))
        path
          fill $green
          +above('m')
            fill $black

      a
        color $green
        margin 0
        padding 0
        +above('m')
          color $black

