// // ks config
// ks-support-ie = 9
// ks-support-firefox = 27
// ks-support-chrome = 39
// ks-support-safari = 5
// ks-support-opera = 15
// ks-support-ios-safari = 5
// ks-support-opera-mini = false
// ks-support-android-browser = false
// ks-support-blackberry-browser = false
// ks-support-opera-mobile = false
// ks-support-android-chrome = false
// ks-support-android-firefox = false
// ks-support-ie-mobile = false

// // endpoints
// imageEndpoint = "../img/";

// // sizes
// sizeBig = 7rem
// sizeLarge = 5.3125rem
// sizeMedium = 3.5625rem
// sizeSmall = 2.625rem
// sizeTiny = 1.75rem
// sizeEyebrow = 0.875rem
// sizeMini = 0.8125rem

// // colors
// colorWhite = #fff;
// colorBlack = #222;

// colorTextInsideGradient = #fff;

// colorGray = #909090;
// colorLightGray = #dbdbdb;
// colorBrightGray = #f5f5f5;

// colorLinkBlack = #222;
// colorLinkWhite = #fff;

// colorAqua = #00a596;
// colorAquaDark = #47b969;

// colorMagenta = #8c3c8c;
// colorMagentaDark = #b9418c;

// colorYellow = #f06923;
// colorYellowDark = #ffa800;
// colorYellowDeepDark = #e98300;

// colorAlertRed = #ff0000;
// colorAlertGreen = #47b969;

// // lines
// lineBig = 0.66rem solid colorBlack
// lineLarge = 0.34rem solid colorBlack
// lineMedium = 0.08rem solid colorBlack
// lineSmall = 0.08rem solid colorLightGray
// lineTiny = 0.08rem dashed colorLightGray

// // forms
// formPaddingVertical = 1.125rem;
// formPaddingHorizontal = 2.25rem;

