rupture.scale       = 0       320px       768px       1024px       1230px       1366px      1600px
//                     └──┬──┘     └──┬──┘     └──┬──┘      └──┬──┘      └──┬──┘      └──┬──┘     └──┬──
// Slice numbers:         1           2           3            4            5            6           7
rupture.scale-names=     'xs'        's'         'm'         'l'          'xl'           'xxl'       'xxxl'

// rupture.mobile-cutoff = 414px
// rupture.desktop-cutoff =
// rupture.hd-cutoff =

// // ks config
// ks-support-ie = 9
// ks-support-firefox = 27
// ks-support-chrome = 39
// ks-support-safari = 5
// ks-support-opera = 15
// ks-support-ios-safari = 5
// ks-support-opera-mini = false
// ks-support-android-browser = false
// ks-support-blackberry-browser = false
// ks-support-opera-mobile = false
// ks-support-android-chrome = false
// ks-support-android-firefox = false
// ks-support-ie-mobile = false


