include ../_partials/header.jade

body
  section

    include ../_partials/menu.jade

    article.docs-content

      h1.docs-h1 Botões

      p Botões sempre ocupam 100% da largura disponível, então seu tamanho deve ser definido no componente em que ele é utilizado ou pelo container dele, com o grid aplicado

      p Podem ser utilizados com @extend no CSS/Stylus

      h3.docs-h3 Exemplos


      .example.typography
        a(href="#").button Link .button 
        a(href="#").button.green Link .button.green 
        a(href="#").button.black Link .button.black 
        a(href="#").button.inactive Link .button.inactive 

        .column
          button.button Botão .button 
          button.button.green Botão .button.green 
        .column
          a(href="#").button.black Link .button.black 
          a(href="#").button.inactive Link .button.inactive 
        .column
          span.button.green Span .button.black 
          span.button Span .button.inactive 
      
      pre
        code.language-scss
          | a(href="#").button Link .button 
          | a(href="#").button.green Link .button.green 
          | a(href="#").button.black Link .button.black 
          | a(href="#").button.inactive Link .button.inactive 
          | // com a tag BUTTON
          | button.button Botão .button 
          | button.button.green Botão .button.green 
          | // ou em um SPAN
          | span.button.green Span .button.black 
          | span.button Span .button.inactive 
