include ../_partials/header.jade

body
  section

    include ../_partials/menu.jade

    article.docs-content

      h1 Formulários

      p Estilização de elementos

      h2.title.tiny Exemplos

      h2.title.tiny Desenvolvimento
