include ../_partials/header.jade

body
  section

    include ../_partials/menu.jade

    article.docs-content

      h1.docs-h1 Formulários

      p Estilização de elementos

      h2.docs-h2 Exemplos

      h2.docs-h2 Desenvolvimento
