include ../_partials/header.jade

body
  section

    include ../_partials/menu.jade

    article.docs-content

      h1.docs-h1 Grid

      p O GridSystem é feito com #[a(target="_blank", href="http://jeet.gs/") Jeet] para definição das colunas e #[a(href="http://jenius.github.io/rupture/") Rupture] para os breakpoints.
      p Procure definir o grid por cada componente, evitando classes específicas para grid, no estilo do Bootstrap

      h2.docs-h2 Uso

      pre
        code.language-scss
          |.foo
          |   column(.3)
          |   display block
          |.biz
          |   column(3/10)
          |   color red
          |.buzz
          |   column(6/12)
          |   +above(320px)
          |       column(3/12)
