include ../_partials/header.jade

body
  section

    include ../_partials/menu.jade

    article.docs-content

      h1.docs-h1 Tipografia

      p Definição de tamanhos de títulos, textos, links, números

      h2.docs-h2 Títulos

      p Existem 6 tipos de títulos, definidos com o uso de @extend

      table
        thead
          tr
            th Tamanho
            th classe
        tbody
          tr
            td Huge title
            td $title-huge
          tr
            td Big title
            td $title-big
          tr
            td Medium title
            td $title-medium
          tr
            td Small title
            td $title-small
          tr
            td Tiny title
            td $title-tiny
          tr
            td Eyebrow title
            td $title-eyebrow

      h3.docs-h3 Exemplos

      .example.typography
        //- p.title Title
        p.titleA Huge title
        p.titleB Big title
        p.titleC Medium title
        p.titleD Small title
        p.titleE Tiny title
        p.titleF Eyebrow title

      pre
        code.language-scss
          |p.titleA
          |    @extend $title-huge
          |    color red
          |p.titleB
          |    @extend $title-big
          |p.titleC
          |    @extend $title-medium
          |p.titleD
          |    @extend $title-small
          |p.titleE
          |    @extend $title-tiny
          |p.titleF
          |    @extend $title-eyebrow

      hr.docs-hr

      h2.docs-h2 Headline

      p Existem 3 tipos de headlines, definidos com o uso de @extend

      table
        thead
          tr
            th Tamanho
            th classe
        tbody
          tr
            td Big headline
            td $headline-big
          tr
            td Regular Headline
            td $headline-regular
          tr
            td Small headline
            td $headline-small

      h3.docs-h3 Exemplos

      .example.typography
        p.headlineA Big headline
        p.headlineB Regular headline
        p.headlineC Small headline

      pre
        code.language-scss
          |p.headlineA
          |    @extend $headline-big
          |p.headlineB
          |    @extend $headline-regular
          |p.headlineC
          |    @extend $headline-small

      hr.docs-hr

      h2.docs-h2 Texto

      p Definições de texto

      table
        thead
          tr
            th Tamanho
            th classe
        tbody
          tr
            td Big text
            td $text-big
          tr
            td Regular text
            td $text-regular
          tr
            td Small text
            td $text-small
          tr
            td Line height regular
            td $line-height-regular
          tr
            td Line height big
            td $line-height-big

      h3.docs-h3 Exemplos

      .example.typography
        p.textA Big text
        p.textB Regular text
        p.textC Small text

        p.textExample1 Você receberá um e-mail da Oi confirmando sua assinatura e o horário de instalação.
        p.textExample2 Você receberá um e-mail da Oi confirmando sua assinatura e o horário de instalação.

      pre
        code.language-scss
          |p.textA
          |    @extend $text-big
          |p.textB
          |    @extend $text-regular
          |p.textC
          |    @extend $text-small
          |.textExample1
          |    // Por default possui $line-height-regular
          |    @extend $text-regular
          |.textExample2
          |    @extend $text-regular
          |    @extend $line-height-big

      hr.docs-hr

      h2.docs-h2 Componentes

      nav
        ul
          li
            a(href='/docs/components/cards.html') Preços
