/**
 * .content_header
 *
 * the big header inside the product content table, sometimes called as product cart
 *
 * ***/
.content_header
  position relative
  width 100%
  background-color $white
  margin 0 auto
  border-bottom: remify(1.2px) solid $black
  z-index 2
  +below('xs')
    border-bottom-color $grayLight
  +above('xs')
    height remify(64px)
  +below('m')
    padding remify(18px) remify(20px)
  +above('m')
    height remify(90px)
  +above('l')
    max-width remify(1170px)
    padding remify(18px) 0
  +above('xl')
    height remify(130px)

  // .content_header_list
  &_list
    float left
    font-family $fontTitle
    +above('xs')
      display none
    +above('m')
      display block
      width 62%
      height 100%
      font-size remify(42px)
      text-transform uppercase
    +above('l')
      width: 54%
    +above('xl')
      width: 62%

    // .content_header_list hgroup
    hgroup
      position relative
      display table
      width 100%
      height 100%

    // .content_header_list ul
    ul
      display table-cell
      vertical-align middle
      white-space nowrap
      overflow hidden
      +above('m')
        padding-right remify(20px)
      +above('l')
        padding-right remify(30px)

    // .content_header_list li
    li
      &:first-child:before
        display none
      &:last-child
        +above('l')
          display table-cell
      &:first-child
        display table-cell
      &:before
        content '+'
        color $black

      // .content_header_list li.visible
      &.visible
        opacity 1

  // .content_header_sidewalk
  &_sidewalk
    display block
    float: right
    height 100%
    +above('xs')
      width: 100%
      max-width: 100%
    +above('m')
      width auto
      max-width: 34%
    +above('l')
      max-width: 46%
    +above('xl')
      max-width: 38%

  // the _sidewalk
  // .content_header_client-type
  &_client-type
    position relative
    display table
    height 100%
    float left
    font-family $fontTextRegular
    +below('xs')
      width 100%
      margin: 0
      top 0
      left 0
    +above('m')
      width remify(140px)
    +above('l')
      margin-left remify(10px)

    // .content_header_client-type-trigger
    &-trigger
      display table-cell
      height remify(30px)
      vertical-align middle
      font-size remify(13px)
      line-height remify(30px)
      text-decoration none
      color $green

      span
        height remify(15px)
        line-height remify(15px)
        display block
        +below('xs')
          display: inline
        &:first-child
          margin-bottom: remify(5px)
      svg
        display inline-block
        width remify(9px)
        margin-left remify(5px)
        & + span
          display inline-block
      path
        fill $green

    // .content_header_client-type_dropdow
    &_dropdow
      background-color $white
      border remify(1.2px) solid $gray
      border-radius remify(5px)
      display none
      font-family $fontTextRegular
      left remify(15px)
      position absolute
      top remify(55px)
      width s("calc(100% - 30px)")
      max-width remify(465px)
      &.open
        display block
      +above('m')
        top remify(104px)
        // right 0
        right remify(191px)
        left auto
      +above('l')
        right remify(191px)
      +above('xl')
        right remify(151px)

      &:before
        background $white
        border 1px solid $gray
        border-radius remify(4px)
        border-width remify(1.2px)  0 0 remify(1.2px)
        content ''
        display block
        height remify(15px)
        left remify(126px)
        position: absolute
        top remify(-6px)
        transform rotate(45deg)
        width remify(15px)
        +above('m')
          left remify(328px)

      &:after
        background $white
        content ''
        display block
        height remify(15px)
        width remify(30px)
        left remify(120px)
        position: absolute
        top remify(0)
        +above('m')
          left remify(320px)

      ul
        display block

      li
        height remify(115px)
        border-bottom remify(1.2px) solid $grayLight
        padding 0 remify(5px)
        position relative
        +above('m')
          padding 0 remify(40px)

        &:last-child
          border-bottom none

      a
        font-size remify(16px)
        display block
        text-decoration none
        color $black

        & > span
          transition color 0.3s ease
          width s(" calc(100% - 140px)")
          display inline-block
          line-height remify(20px)
          position absolute
          top remify(30px)
          height remify(55px)
          & > div
            display table-cell
            vertical-align middle
            height remify(55px)

        &.active, &:hover, &:focus, &:active
          & > span
            color $green
          svg circle.icon-inner
            fill $green

        svg
          width remify(25px)
          transform translateY(remify(33px))
          margin 0 remify(5px) 0 0
          circle
            stroke $green
            &.icon-inner
              stroke $white
              fill $white
            &.icon-outer
              stroke $green

      oi-price
        right remify(20px)
        width remify(80px)
        display inline-block
        position absolute
        top remify(38px)
        +above('m')
          right remify(40px)

  // .content_header_price
  &_price
    position relative
    display table
    height 100%
    float left
    +below('xs')
      display none

    oi-price
      margin 0 auto
      display table-cell
      vertical-align middle
      // +above('m')
      //   left remify(-10px)
      .oi-price.oi-price--small
        height remify(32px)

    // +above('xs')
    //   display block
    // +above('xs')
    //   width remify(100px)
    //   float right
    //   height remify(58px)
    // +above('m')
    //   float left

  // .content_header_action
  &_action
    display table
    font-family $fontTextRegular
    float left
    text-align right
    height 100%
    +above('l')
      width remify(168px)
    +above('xl')
      width remify(196px)

    // .content_header_action_box
    &_box
      display table-cell
      vertical-align middle
    a
      color $black
      +below('s')
        position fixed
        bottom 0
        left 0
        display block
        width 100%
        height remify(62px)
        border-radius 0
        line-height remify(62px)
      +above('l')
        display inline-block
        width remify(138px)
      +above('xl')
        width remify(170px)

