.product-cheat-sheet
  width 100%
  @extend $container


.product-cheat-sheet_row
  @extend .clearfix
  margin-bottom: remify(90px)
  &--thin-bottom-margin
    margin-bottom: remify(21px)

  hr
    max-width: rem(480px)
    height: remify(1.2px)
    border: 0
    margin: remify(5px) 0 remify(12px)
    background-color: $grayLight


.product-cheat-sheet_column-left
  @extend .clearfix
  float: left
  // width: remify(200px)
  @extends $col-2-12
  +below('s')
    @extends $col-6-6
  // padding-right: remify(30px)

  h2
    font-family: $fontTitle
    font-size: remify(21px)
    line-height: 1.21em
    letter-spacing: rem(-0.4px)

.product-cheat-sheet_column-right
  @extend .clearfix
  float: left
  // width: remify(970px)
  @extends $col-10-12
  +below('s')
    @extends $col-6-6




.product-cheat-sheet_data-list
  dl
    position: relative
    width: remify(480px)
    padding rem(9px) 0 rem(1px) remify(139px)
    font-size: remify(13px)
    dt
      position: absolute
      top: 0
      left: 0
      width: remify(130px)
      height: auto
      font-family: $fontTextBold
      line-height: 1em
      padding-top rem(9px)
    dd
      width: 100%
      padding-bottom: 0.55em
      line-height: 1em
      p
        line-height rem(12px)
        margin-bottom rem(8px)
      em
        font-style italic
        color $gray

.product-cheat-sheet_app-list
  h5
    padding rem(20px) 0 rem(25px)
    font-family: $fontTextBold
    font-size: remify(13px)

  ul
    width: remify(480px)
    li
      display inline-block
      width: remify(70px)
      min-height: remify(200px)
      margin: 0 remify(30px) 0 0
      padding-bottom rem(30px)
      float: left
      font-size: remify(11px)
      &.break
        clear both
      img
        width rem(70px)
        height rem(70px)
      span
        display block
        width rem(74px)
        padding-top rem(6px)
        line-height rem(14px)
      em
        display: block
        width rem(74px)
        padding-top rem(2px)
        font-style: italic
        line-height rem(14px)
        color: $gray

.product-cheat-sheet_action-area
  button, .button
    font-size rem(13px)

.product-cheat-sheet_legal-text
  padding-top: remify(42px)
  border-top: remify(1.2px) solid $grayLight
  font-size: remify(11px)
  color: $gray


