.product-cheat-sheet
  position relative
  width 100%
  overflow-x visible
  @extend $container


.product-cheat-sheet_row
  @extend .clearfix
  position relative
  +below('xs')
    margin 0
    height rem(88px)
  +above('m')
    margin-bottom: remify(90px)

  hr
    max-width: rem(480px)
    height: remify(1.2px)
    border: 0
    margin: remify(5px) 0 remify(12px)
    background-color: $grayLight
    +below('xs')
      background-color: transparent

.product-cheat-sheet_row--thin-bottom-margin
  +above('m')
    margin-bottom remify(21px)

.product-cheat-sheet_row--mobile-open
  +below('xs')
    height auto
    margin-bottom rem(30px)



.product-cheat-sheet_column-left
  position relative
  +below('xs')
    @extends $col-6-6
    height rem(88px)
    &:after, &:before
      content " "
      position absolute
      left -100%
      display block
      width 200vw
      height rem(1.2px)
      background-color #dadada
      visibility visible
    &:after
      bottom 0
      visibility hidden
    &:before
      top 0
  +above('m')
    @extends $col-2-12

  h2
    line-height: 1.21em
    letter-spacing: rem(-0.4px)
    +below('xs')
      height rem(88px)
      padding rem(38px) 0
      font-size rem(13px)
      font-family $fontTextRegular
      text-transform uppercase
      color $green
      cursor pointer
    +above('m')
      font-size: rem(21px)
      font-family: $fontTitle

.product-cheat-sheet_column-right
  position relative
  +below('xs')
    @extends $col-6-6
    display none

  +above('m')
    @extends $col-10-12




.product-cheat-sheet_data-list
  dl
    position: relative
    font-size: remify(13px)
    +below('xs')
      width 100%
    +above('m')
      width: remify(480px)
      padding rem(9px) 0 rem(1px) remify(139px)
    dt
      height: auto
      font-family: $fontTextBold
      line-height: 1em
      +below('xs')
        position: relative
        padding rem(9px) 0
      +above('m')
        position: absolute
        top: 0
        left: 0
        width: remify(130px)
        padding-top rem(9px)
    dd
      width: 100%
      padding-bottom: 0.55em
      line-height: 1em
      p
        line-height rem(12px)
        margin-bottom rem(8px)
      em
        font-style italic
        color $gray

.product-cheat-sheet_app-list
  h5
    padding rem(20px) 0 rem(25px)
    font-family: $fontTextBold
    font-size: remify(13px)
  ul
    width: remify(480px)
    li
      display inline-block
      width: remify(70px)
      min-height: remify(200px)
      margin: 0 remify(30px) 0 0
      padding-bottom rem(30px)
      float: left
      font-size: remify(11px)
      +below('xs')
        margin 0 rem(21px) 0 0
      &.break
        clear both
      img
        width rem(70px)
        height rem(70px)
      span
        display block
        width rem(74px)
        padding-top rem(6px)
        line-height rem(14px)
      em
        display: block
        width rem(74px)
        padding-top rem(2px)
        font-style: italic
        line-height rem(14px)
        color: $gray

.product-cheat-sheet_action-area
  button, .button
    font-size rem(13px)

.product-cheat-sheet_legal-text
  padding-top: remify(42px)
  border-top: remify(1.2px) solid $grayLight
  font-size: remify(11px)
  color: $gray
  +below('xs')
    border-top none
    &:before
      content " "
      position absolute
      left -100%
      display block
      width 200vw
      height rem(1.2px)
      background-color #dadada
      visibility visible
    &:before
      top 0


